<div class="sub-module-container">
  <div class="overlay" [class.active]="!filterHidden"></div>
  <div class="sub-module-container__container job">
    <div class="filter">
      <h3 class="filter__heading">Applications</h3>
      <div (click)="toggleFilter($event)" class="filter__header">
        <fa-icon class="filter__icon" [icon]="faSlidersH"></fa-icon>Filter
      </div>
      <div class="filter__content" [class.filter__hide]="filterHidden">
        <form action="#" (ngSubmit)="filterApplications()" class="form" [formGroup]="searchForm" autocomplete="off">
          <div class="sub-container">
            <shared-custom-input-field
              class="input-element-type-2"
              [formGroup]="searchForm"
              name="applicantName"
              defaultValue=""
              label="Applicant"
              placeholder="Enter Search Applicant"
              [input]="searchForm.controls['applicantName']"
              type="text"
              [submitted]="false"
              [disabled]="false"
              [limit] ="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <div class="sub-container">
            <shared-custom-input-field
              class="input-element-type-2"
              [formGroup]="searchForm"
              name="jobtitle"
              defaultValue=""
              label="Jobs"
              placeholder="Enter Search Jobs"
              [input]="searchForm.controls['jobtitle']"
              type="text"
              [submitted]="false"
              [disabled]="false"
              [limit] ="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <!-- <div class="sub-container">
                            <shared-custom-input-field class="input-element-type-2" [formGroup]="searchForm" name="indsutry"
                                defaultValue="" label='Industry Type' placeholder='Enter Search Industry'
                                [input]="searchForm.controls['industry']" type='text' [submitted]="false"
                                [disabled]="false">
                            </shared-custom-input-field>
                        </div> -->

          <div class="form__group--btn">
            <input type="submit" value="Search" class="form__submit th-btn th-btn--primary" />
          </div>
        </form>
      </div>
    </div>

    <table
      *ngIf="applications && applications.length > 0"
      mat-table
      [dataSource]="applications"
      class="mat-elevation-z3"
    >
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Picture</th>
        <td mat-cell *matCellDef="let applications">
          <img class="img"
           [src]="applications.applicantPicture ? applications.applicantPicture: 'assets/img/anonymous-avatar.png'" alt="picture" />
        </td>
      </ng-container>
      <ng-container matColumnDef="jobtitle">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let applications">
          {{ applications.jobTitle }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
        <td mat-cell *matCellDef="let applications">
          {{ applications.firstName + ' ' + applications.lastName }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="vacancies">
        <th mat-header-cell *matHeaderCellDef>No. Vacancies</th>
        <td mat-cell *matCellDef="let applications">
          {{ applications.vacancies }}
        </td>
      </ng-container>

      <!-- Name Column -->

      <!-- Name Column -->
      <ng-container matColumnDef="applicationDate">
        <th mat-header-cell *matHeaderCellDef>Applied Date</th>
        <td mat-cell *matCellDef="let applications">
          {{ applications.applicationDate | date: 'longDate' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hired">
        <th mat-header-cell *matHeaderCellDef>Hired</th>
        <td mat-cell *matCellDef="let applications">
          <div *ngIf="applications.hired" class="tag tag--verified">
            <fa-icon class="tag--verified--icon" [icon]="faCheckCircle"></fa-icon>
          </div>
          <div *ngIf="!applications.hired" class="tag tag--unverified"></div>
        </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef>Show Detail</th>
        <td mat-cell style="min-width: 8rem;" *matCellDef="let applications">
          <button (click)="showApplicantDetail(applications)" class="detail">
            Detail
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <h3 *ngIf="applications && applications.length == 0">
      <div class="not_Found">
        <span>
          Sorry, we didn't find any Applications matching your criteria
        </span>
      </div>
    </h3>
    <div class="paginator">
      <mat-paginator
        [length]="pager?.totalItems"
        [pageSize]="pager?.pageSize"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"
        (page)="getServerData($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
