table {
  width: 100%;

  .img {
    max-width: 6rem;
    padding: .8rem 0;
  }
}
.detail {
  border: 1px solid #42597b;
  border-radius: 2rem;
  padding: 0.5rem 3.5rem;
  background-color: #fff;
  text-transform: uppercase;
  color: #42597b;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;

  &:active {
    transform: scale(0.98);
  }
}

.tag {
  display: inline-block;
  font-size: 2rem;
  // font-weight: 700;
  border: 1.1px solid rgb(91, 93, 97);
  border-radius: 3px;
  width: 1.8rem;
  height: 1.7rem;
  position: relative;

  &:not(:first-child) {
    margin: 0 0.3rem;
  }
  &--verified {
    color: rgba(green, 0.7);

    &--icon {
      font-size: 2.2rem;
      position: absolute;
      top: -1rem;
    }
  }

  &--unverified {
    // color: rgb(179, 7, 7);
    font-size: 1.8rem;
  }
}
.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 1;
  background-color: rgba(black, 0.5);
}

.sub-container {
  display: flex !important;
  width: 90%;
  // max-width: 60rem;
  justify-content: flex-end;
  margin: 0 auto;
}

.job {
  table {
    margin-top: 2rem;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  //align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6.5rem;
  z-index: 2;
  // margin-left: 1.2rem;
  background-color: white;
  padding: 1.8rem 2rem;

  //padding-right: 2rem;
  margin-left: -7rem;
  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 5%;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.7rem;
    left: 1rem;
  }

  &__content {
    min-width: 30rem;
    background-color: white;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: white;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  color: #666;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}
