.job {
  width: 100%;
  height: 100%;
  display: flex;

  &__add-job {
    width: 100%;
    margin: 0 auto;
    // height: 30rem;
  }

  &__previous-jobs {
    position: fixed;
    top: 14rem;
    right: 3rem;
    width: 30%;
    max-height: 78vh;
    // display: none;
    // border-right: 1px solid #888;
    // border-bottom: 1px solid #888;
    padding: 0 1rem;
    // box-shadow: 0px 0px 4px #555;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 8px #fff;
      box-shadow: inset 0 0 8px #fff;
      border-radius: 1px;
    }

    &::-webkit-scrollbar-thumb {
      // border-radius: 1px;
      -webkit-box-shadow: inset 0 0 8px rgba(160, 159, 159, 0.911);
      box-shadow: inset 0 0 8px rgba(160, 159, 159, 0.911);
    }

    // &:hover{

    // }
  }

  &__custom-select {
    margin-bottom: 3rem;
  }
}

.previous-jobs {
  &__header {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #555;
    width: 100%;
    text-align: center;
  }

  &__container {
    position: fixed;
    top: 10rem;
    right: 2rem;
    display: none;
    justify-content: center;
    // margin-top: -3rem;
    width: 30%;
    // width: auto;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    color: #aaa;
    text-transform: capitalize;
  }

  &__submit {
    width: 100%;
    align-self: center;
  }

  &__submit--inactive {
    background: #fff;
    color: #555;
    border: 1px solid #555;
  }

  &__edit-icon {
    font-size: 2rem;
    color: #ce2127;
    margin-left: 1rem;
  }

  &__edit {
    font-size: 1.8rem;
    color: #ce2127;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    border: 1px solid #ce2127;
    border-radius: 5rem;
    padding: 1rem 2rem;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }
  }

  &__error {
    color: red;
    font-size: 1.4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  &__error-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: rgba(255, 0, 0, 0.548);
  }
}

.checkbox {
  &__input {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    cursor: pointer;
  }

  &__button {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid #ce2127;
    border-radius: 3px;
    margin: 0 1rem;
    // transition: all .2s;
    &::before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-size: 2.6rem;
      display: inline-block;
      color: #ce2127;
      position: absolute;
      top: -0.6rem;
      left: -0.1rem;
      transform: translateY(3px);
      transition: transform 0.2s;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
  }
}

.checkbox__input:checked ~ .checkbox__label .checkbox__button {
  background: #eee;

  &::before {
    content: "\2714";
    transform: translateY(0);
  }
}

.add-company-profile {
  align-self: center;
  width: 100%;
  // background-color: #ccc;
}
.sub-container {
  display: flex;
  // flex-wrap: wrap;
  width: 90%;
  max-width: 60rem;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
}

.submit-container {
  display: flex;
  width: 90%;
  max-width: 60rem;
  justify-content: flex-end;
  margin: 0 auto;
}

.input-element-type {
  &-1 {
    width: 100%;
  }

  &-2 {
    width: 100%;
  }

  &-3 {
    width: 100%;
    margin: 1rem 0rem;
  }

  &-4 {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) {
  .input-element-type {
    &-1 {
      width: 50%;
    }

    &-3 {
      margin: 0rem;
      width: 33.3%;
    }

    &-4 {
      width: 33.3%;
    }
  }

  .sub-container {
    flex-direction: row;
  }

  .add-company-profile {
    width: 90%;
  }
}

@media only screen and (min-width: 700px) {
  .job {
    &__add-job {
      width: 80%;
    }
  }
  .employer-steps {
    &__icon {
      font-size: 5rem;
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .previous-jobs {
    &__container {
      display: flex;
    }
  }
  .job {
    &__add-job {
      width: 70%;
      margin: 0;
    }
  }
}
