.container {
  margin-top: 2rem;
}

.noApplication {
  display: block;

  &__text {
    color: rgba(136, 136, 136, 0.8);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.overlay.active {
  z-index:4 ;
  background-color: rgba(black, 0.5);
}


.filter.active{
  background-color: #ddd;
  z-index: 5;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6rem;
  position: fixed;
  left: 0;
  z-index: 2;
  padding: 1.8rem 2rem;
  background-color: white;
  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 1rem;
  }

  &__content {
    background-color: #ddd;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: #ddd;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

.overlay {
  position: fixed;
  top: 12.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}

.job {
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    
    .img-container {
      width: 17rem;
      text-align: center;
    }
    
    .img {
      max-width: 16rem;
      height: 10rem;
      border-radius: 5px;
    }

    .details-container {
      margin-top: 2rem;
    }
  }

  &__right {
    margin-top: 2rem;
    text-align: center;

    .view-btn {
      display: inline-block;
      padding: .8rem 3rem;
      font-size: 1.8rem;
      border-radius: 3rem;
      font-weight: 600;
    }
  }

  &__title {
    color: #42597b;
    font-size: 2.5rem;
    font-weight: 600;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin-top: 1rem;

    .tag {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .icon {
      color: #d64e4e;
      margin-right: .1rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .job {
    &__left {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: 700px) {
  .job {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .details-container {
      margin-left: 2rem;
    }
  }
}