.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  margin: 2rem auto;
  position: relative;
  padding: 2rem 3rem;
  background-color: white;
  // box-shadow: 0 0 .5rem rgba(black, .2);
  border-radius: 3px;
  transition: all .2s;
  cursor: pointer;

  &:hover, &:active {
    box-shadow: 0 2px .5rem .2rem rgba(black, .2);
  }

  &__left {
    width: 100%;

    &--top {
      display: flex;
    }

    &--middle {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 0rem 0;
    }

    &--bottom {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__right {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    // margin: 1.5rem 0rem;
  }

  &__detail-button {
    align-self: center;
    border: 1px solid #aa111d;
    border-radius: 3px;
    font-weight: 600;
    padding: 0.8rem 1.5rem;

    &:hover,
    &:active {
      // box-shadow: 0 .5rem .5rem rgba(black, .2);
      background-color: #aa111d;
      color: white;
    }
  }

  &__left--top__container {
    margin: 1rem 1.5rem;
  }

  &__title {
    color: #42597b;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  &__company-image {
    height: 10rem;
    max-width: 15.5rem;
  }

  &__description {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
    // height: 6rem;
    overflow: hidden;
    position: relative;
  }

  &__salary-range {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__tag {
    font-size: 1.3rem;
    font-weight: 700;
    color: #42597b;
    text-transform: capitalize;
    margin-right: 1rem;
  }

  &__tag-elements {
    display: flex;
  }

  &__tag-element {
    display: flex;
    align-items: center;
    color: #42597b;
    background-color: white;
    border-radius: 1.5rem;
    // border: 1px solid #42597b;
    text-transform: uppercase;
    font-weight: 700;
    margin: 3px 1.5rem;
    font-size: 1.3rem;
    white-space: nowrap;

    &:not(:first-child) {
      padding: 0.5rem 1.2rem;
    }

    .icon {
      margin-right: .5rem;
      font-size: 1.5rem;
      color: #d64e4e;
    }
  }

  &__company-verified {
    font-size: 1.5rem;
    color: #888;
    text-transform: uppercase;
  }

  &__company-verified-icon {
    // font-size:1.rem;
    color: #3f7f98;
    margin-right: 0.5rem;
  }

  &__company-name {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  &__location {
    font-size: 1.5rem;
    color: #0072bc;
    font-weight: 300;
  }

  &__location-icon {
    color: #71171c;
    margin-right: 0.5rem;
  }

  &__bookmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #777;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &--saved {
      color: #aa111d;
    }
  }

  &__bookmark-text {
    vertical-align: super;
  }

  &__bookmark-icon {
    margin-top: -2px;
    font-size: 2.7rem;
    margin-left: 5px;

    &--progress {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid #aaa;
      border-top-color: #aa111d;
      border-right-color: #aa111d;
      animation: spin-booking 1s cubic-bezier(0.29, 0.65, 0.38, 0.72) infinite;
    }
  }

  &__general-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // margin-top: 1rem;
    flex-wrap: wrap;
  }

  &__info {
    font-size: 1.3rem;
    color: #42597b;
    font-weight: 700;
    
    &-pwd {
      display: flex;
      align-items: center;
      margin-top: 1rem;
    }
  }

  .pwd-img {
    width: 3rem;
    margin-right: .8rem;
  }
}

@media only screen and (min-width: 480px) {
  .job {
    flex-direction: row;

    &__left {
      width: 70%;

      &--bottom {
        justify-content: flex-start;
      }
    }

    &__right {
      flex-direction: column;
      justify-content: center;
      width: auto;
    }

    &__apply-button {
      align-self: initial;
    }

    &__general-info {
      flex-direction: column;
      padding: 0.5rem 1.5rem;
      align-items: flex-start;
    }

    &__info {
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }

    &__description {
      width: 80%;
    }

    &__tag-element {
      margin: 3px 0.3rem;
    }
  }
}

@media only screen and (min-width: 700px) {
  // .job{
  //     width: 80%;
  // }
}

@keyframes spin-booking {
  to {
    transform: rotate(360deg);
  }
}