.container {
  &__header {
    display: none;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #888;
  }

  &__body {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .desktop-form {
      display: none;
    }
  }

  .fab {
    position: fixed;
    bottom: 8rem;
    right: 4rem;
    text-align: center;

    &__button {
      // display: inline-block;
      width: 4.5rem;
      height: 4.5rem;
      font-size: 2rem;
      background-color: tomato;
      color: white;
      border-radius: 50%;
      border: none;
      box-shadow: 0 0 0.5rem rgba(black, 0.5);
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 0 0.8rem rgba(black, 0.5);
        transform: translateY(-1px);
        cursor: pointer;
      }
    }

    &__icon {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-60%);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;

  &__close {
    position: absolute;
    display: none;
    top: 9rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: #ddd;
    }

    &:active {
      background-color: #aaa;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  border-radius: 10px;
  transform: translate(-50%, 150%);
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &__header {
    background-image: linear-gradient(120deg, #7d1216, #ce2127);
    padding: 1.3rem 1.5rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .text {
      color: white;
      font-size: 2.2rem;
      font-weight: 700;
      text-align: center;
    }
  }

  &__body {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  .details {
    width: 90%;
    margin: 3rem auto;
  }

  .detail {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__label {
      position: absolute;
      top: -1rem;
      left: 1rem;
      font-size: 1.5rem;
      color: #333;
      font-style: italic;
      background-color: white;
      padding: 0 0.2rem;
    }

    &__value {
      padding: 1rem;
      overflow-y: auto;
      max-height: 12rem;
      border: 1px solid rgba(black, 0.2);

      .text {
        font-size: 1.8rem;

        &--noReply {
          color: #888;
          font-style: italic;
        }
      }
    }
  }
}

.overlay.active {
  z-index: 2500;
  background-color: rgba(black, 0.8);

  .overlay__close {
    display: block;
  }
}

.modal.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 4000;
}

.issues {
  display: flex;
  flex: 2;
  flex-direction: column;

  &__header {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #888;
  }
}

.issue {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-left: 3px solid #ce2127;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .type {
    background-color: #eee;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  &__left {
    width: 50%;

    .reason {
      color: #555;
      font-size: 1.5rem;
      // margin-top: 1rem;
    }
  }

  &__right {
    text-align: right;
    font-size: 1.8rem;

    .date {
      font-size: 1.5rem;
      font-weight: 400;
    }
    .btn-group {
      margin-top: 1rem;

      .btn {
        border: none;
        position: relative;
        background-color: transparent;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: all 0.2s;

        &:active {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      .icon {
        font-size: 2rem;
        color: #425A7B;

        &--reply {
          position: relative;
          color: #425A7B;

          &::after {
            font-family: "Font Awesome 5 Free";
            color: #ff9a00;
            background-color: white;
            border-radius: 100%;
            font-weight: 600;
            content: "\f0ab";
            position: absolute;
            top: -0.6rem;
            right: -0.7rem;
          }
        }

        &--noReply {
          color: #888;
        }

        &--delete {
          color: #ce2127;
        }

        &--progress {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 2px solid #aaa;
          border-top-color: #aa111d;
          border-right-color: #aa111d;
          animation: spin-delete 1s cubic-bezier(0.29, 0.65, 0.38, 0.72) infinite;
        }
      }

      .response {
        &__icon {
          color: #888;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: space-between;

    &__header {
      display: block;
    }

    &__body {
      flex-direction: row;

      .desktop-form {
        display: unset;
        align-self: flex-start;
        flex: 4;
        border: 1px solid rgba(black, 0.2);
        border-radius: 3px;
      }

      .issues {
        flex: 5;
        overflow-y: auto;
        max-height: 50rem;
        margin-left: 3rem;

        &__list {
          overflow-y: auto;
          max-height: 50rem;
          padding-right: 0.5rem;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 1rem;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .fab {
      display: none;
    }
  }
}

@keyframes spin-delete {
  to {
    transform: rotate(360deg);
  }
}
