.container {
  padding: 8rem 0;
  position: relative;
}

.eye {
  color: #333;
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 2;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-15%, -15%);
    transition: all 0.2s;
  }

  &:active {
    &::after {
      background-color: #ccc;
    }
  }
}

.form-container {
  background-color: white;
  width: 97%;
  max-width: 55rem;
  margin: 0 auto;
  border: 1px solid rgba(black, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
  padding: 3rem 2rem;
  padding: 3rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-logo {
      width: 7rem;
    }

    .header-text {
      color: tomato;
      font-size: 2.8rem;
      margin-bottom: 2rem;
      display: inline-block;
    }
  }

  &__body {
    .form {
      &__group {
        width: 85%;
        margin: 0 auto 1rem;

        &--double {
          display: flex;
          flex-direction: column;
          position: relative;
        }

        &--recaptcha {
          transform: scale(0.85);
          transform-origin: 0;
        }

        .disabled {
          background: white;
          color: grey;
          border: 2px solid grey;
          cursor: progress;
        }
      }

      &__submit {
        width: 100%;
        height: 5rem;
        color: white;
        font-size: 2rem;
        font-weight: 400;
        border-radius: 5px;
        margin-top: 1rem;
        transition: all 0.2s;

        &:hover {
          transform: translateY(1px);
        }

        &:active {
          transform: translateY(0);
        }
      }

      &__error {
        padding: 0.5rem;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .invalid-feedback {
    &__message {
      font-size: 1.3rem;
      color: rgb(255, 0, 0);
      font-style: italic;
    }
  }

  // &__footer {
  //     text-align: center;
  //     margin-top: 1rem;
  //     font-size: 1.5rem;

  //     .line {
  //         display: inline-block;
  //         border-top: 1px dashed gray;
  //         width: 40%;
  //         height: .5rem;
  //     }

  //     span {
  //         margin: 0 .5rem;
  //     }

  //     .socials {
  //         display: flex;
  //         justify-content: space-evenly;
  //         margin-top: 2rem;

  //         &__bg {
  //             margin: 0 3px;
  //             font-size: 2rem;
  //             padding: 0.5rem 0;
  //             width: 3.5rem;
  //             height: 3.6rem;
  //             border-radius: 3px;
  //             display: inline-block;
  //             text-align: center;
  //             color: white;
  //             transition: all .3s;
  //             cursor: pointer;

  //             &--facebook {
  //                 background-color: #4867aa;
  //             }

  //             img {
  //                 width: 4rem;
  //                 margin-top: -.7rem;
  //                 margin-left: -2px;
  //             }

  //             &--twitter {
  //                 background-color: #33CCFF;
  //             }

  //             &:hover {
  //                 transform: translateY(-1px);
  //             }

  //             &:active {
  //                 transform: translateY(0);
  //             }
  //         }

  //     }

  // }
}

@media only screen and (min-width: 400px) {
}

@media only screen and (min-width: 580px) {
  .eye {
    right: -1.5rem;
  }
  .form-container {
    width: 75%;
    // width: 75%;
    max-width: 60rem;
    margin: 0 auto;
    border: 1px solid rgba(black, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);

    .form__group {
      // &--double {
      //     flex-direction: row;
      // }

      &--recaptcha {
        transform: scale(1);
        transform-origin: 0;
      }
    }
  }
}
