table {
  width: 100%;
  box-shadow: 0px 0px 4px #888;
  font-size: 1.5rem;
  margin-top: 2rem;
}

td.mat-row {
  border-bottom-color: #aaa;
}

td.mat-cell {
  border-bottom-color: #aaa;
  color: rgba(0, 0, 0, 0.87);
}

th.mat-sort-header-sorted {
  color: black;
}

.job-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }

  &__action {
    display: flex;
    border: none;
    background-color: #fff;
    color: tomato;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }
  }

  &__action--hover {
    &:hover {
      background-color: #eee;
    }
  }

  &__actions-container {
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    width: auto;
  }

  &__actions {
    position: absolute;
    top: 70%;
    // right: 30%;
    left: -1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 2px #888;
  }

  &__icon {
    margin-right: 1rem;
    width: 2rem;
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 1;
  background-color: rgba(black, 0.5);
}

.filter {
  display: flex;
  flex-direction: row;
  //align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6.5rem;
  z-index: 2;
  // margin-left: 1.2rem;
  background-color: white;
  padding: 1.8rem 2rem;

  //padding-right: 2rem;
  margin-left: -7rem;
  justify-content: space-between;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 5%;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__content {
    min-width: 30rem;
    background-color: white;
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: white;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  color: #666;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}

.tag {
  display: inline-block;
  font-size: 2rem;
  // font-weight: 700;

  &:not(:first-child) {
    margin: 0 0.5rem;
  }
  &--verified {
    color: rgba(green, 0.7);
  }

  &--unverified {
    color: rgb(179, 7, 7);
    font-size: 1.8rem;
  }
}

