.form {
  &__group {
    margin: 2rem 1rem;

    &--last {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .disabled {
      background: white;
      color: grey;
      cursor: progress;
    }
  }

  &__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    color: #555;

    &:focus {
      outline: none;
      // box-shadow: 0 1px .3rem rgba(0,0,0, .5);
      border-bottom: 1px solid orange;
      background-color: #f3f3f3aa;
    }

    &:focus:invalid {
      border-bottom: 1px solid orangered;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translateY(-9rem);
      opacity: 1;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &--error {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }
  }

  &__label {
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(-2.5rem);
    display: block;
    transition: all 0.2s;
    color: #555;
  }

  &__forgotPassword {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__submit {
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 1rem;
  }

  &__error {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
  }
}

.invalid-feedback {
  transform: translateY(-1rem);

  &__message {
    color: red;
    font-size: 1.2rem;
  }
}
