<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Jobs</h3>
  <h3 class="not_Found" *ngIf="jobs && jobs.length == 0">
    You don't have any jobs yet.
  </h3>

  <div *ngIf="jobs && jobs.length > 0">
    <div class="sub-module-container__container job">
      <table mat-table [dataSource]="jobs" class="mat-elevation-z3">
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="jobTitle">
          <th mat-header-cell *matHeaderCellDef>Job Title</th>
          <td mat-cell *matCellDef="let element">{{ element.jobTitle }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="industry">
          <th mat-header-cell *matHeaderCellDef>Industry</th>
          <td mat-cell *matCellDef="let element">{{ element.industry }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="education">
          <th mat-header-cell *matHeaderCellDef>Education Attainement</th>
          <td mat-cell *matCellDef="let element">
            {{ element.educationAttainment }}
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="salaryRange">
          <th mat-header-cell *matHeaderCellDef>Salary Range</th>
          <td mat-cell *matCellDef="let element">{{ element.salaryRange }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            class="job-list__actions-container"
            mat-cell
            *matCellDef="let element"
          >
            <button
              (click)="toggleActions($event, element.id)"
              class="job-list__action"
            >
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div class="job-list__actions" *ngIf="openActions[element.id]">
              <button
                (click)="editJob(element)"
                class="job-list__action job-list__action--hover"
              >
                <span class="job-list__icon"
                  ><fa-icon [icon]="faPenFancy"></fa-icon></span
                >Edit
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="pager?.totalItems"
        [pageSize]="pager?.pageSize"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"
        (page)="getServerData($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
<!-- 
<div class="add_employer_floating">
    <button routerLink="add" class="add_employer_floating__button"><span class="add_employer_floating__element">&#x2b;</span></button>
</div> -->
