table {
  width: 100%;
  box-shadow: 0px 0px 4px #888;
  font-size: 1.5rem;
}

td.mat-row {
  border-bottom-color: #aaa;
}

td.mat-cell {
  border-bottom-color: #aaa;
  color: rgba(0, 0, 0, 0.87);
}

th.mat-sort-header-sorted {
  color: black;
}

.job-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }

  &__action {
    display: flex;
    border: none;
    background-color: #fff;
    color: tomato;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }
  }

  &__action--hover {
    &:hover {
      background-color: #eee;
    }
  }

  &__actions-container {
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    width: auto;
  }

  &__actions {
    position: absolute;
    top: 70%;
    // right: 30%;
    left: -1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 2px #888;
  }

  &__icon {
    margin-right: 1rem;
    width: 2rem;
    display: flex;
  }
}

.add_employer_floating {
  position: fixed;
  right: 4rem;
  bottom: 7rem;
  font-size: 2rem;
  // z-index: 1000;

  &__button {
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px #555;
    background-color: tomato;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 4.1rem;
    transition: all 0.2s;

    &:active {
      transform: scale(0.97);
    }
  }

  &__element {
    position: relative;
    top: -0.75rem;
    left: 0rem;
  }
}

.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}
