<div class="footer-container">
  <div *ngIf="!authenticationService.currentUserValue" class="footer footer__primary">
    <div class="footer footer__logo-text">
      <img src="assets/img/th_footer_logo.png" alt="th-logo" class="ft-logo" />
      <!-- <p class="logo-text">Ang TrabaHanap ay isang job-hunting site na tutulong sa mga aplikanteng makahanap ng trabaho na malapit sa iyo.</p> -->
    </div>
    <div class="footer footer__menu">
      <!-- <div class="">
                <div>Home</div>
                <div>Jobs</div>
            </div> -->
      <div style="display: flex; flex-direction: column">
        <a
          routerLink="/legal"
          title="Terms & Conditions"
          style="color: #fff; text-decoration: none; font-size: 1.4rem; margin-bottom: .5rem"
          >Terms & Conditions</a
        >
        <a
          routerLink="/privacy"
          title="Privacy Policy"
          style="color: #fff; text-decoration: none; font-size: 1.4rem; margin-bottom: .5rem"
          >Privacy Policy</a
        >
      </div>
      <div class="">
        <a
          routerLink="/about"
          title="Terms & Conditions"
          style="color: #fff; text-decoration: none; font-size: 1.4rem; margin-bottom: .5rem"
          >About Us</a
        >
      </div>
    </div>
    <div class="footer footer__social">
      <img src="assets/img/fb-logo.png" alt="fb-logo" class="fb-logo" />
    </div>
  </div>
  <div class="footer footer__secondary">
    <div class="secondary-sub">{{ year }} Trabahanap.com All Rights Reserved.</div>
    <div class="secondary-sub">
      <a routerLink="/legal" title="Terms & Conditions" class="sub-link">Terms & Conditions</a>
      |
      <a routerLink="/privacy" title="Privacy Policy" class="sub-link">Privacy Policy</a>
    </div>
  </div>
</div>
