@import '../../../../assets/scss/abstracts/variables';

.container {
  padding: 8rem 0;
  position: relative;
}

.eye {
  color: #333;
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-85%);
  z-index: 2;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-15%, -15%);
    transition: all 0.2s;
  }

  &:active {
    &::after {
      background-color: #ccc;
    }
  }
}

.form-container {
  display: flex;
  background-color: white;
  // position: relative;
  flex-direction: column;
  width: 97%;
  max-width: 450px;
  margin: 0 auto;
  border: 1px solid rgba(black, 0.1);
  border-radius: 5px;
  padding: 2rem 4.5rem;
  translate: 5s all;
  transform: translateX(0);
  position: relative;

  &__back {
    position: fixed;
    left: 1rem;
    top: 1rem;
    font-size: 1.7rem;
    color: #555;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:active {
      transform: scale(1.02);
    }
  }

  &__hide {
    transform: translateX(100%);
    display: none;
  }

  &__header {
    text-align: center;

    .header-logo {
      width: 7rem;
    }

    .header-text {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #333;

      &__sub {
        font-size: 1.8rem;
        color: #888;
        margin: 1rem 0rem;
      }
    }
  }

  &__body {
    .form {
      &__group {
        margin-bottom: 1rem;
        position: relative;
        // display: none;

        &--last {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 1.5rem;
        }

        .disabled {
          background: white;
          color: grey;
          border: 2px solid grey;
          cursor: progress;
        }

        &__animate {
          // display: inline-block;
          animation-name: slideAndStay;
          animation-duration: 1.5s;
          // animation-delay: 1s;
          animation-iteration-count: 1;
        }
      }

      &__input {
        width: 100%;
        font-size: 2.5rem;
        padding: 1rem 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        transition: all 0.2s;

        &:focus {
          outline: none;
          // box-shadow: 0 0 .5rem rgba(#1497ff, .5);
          // border-bottom: 2px solid orange;
          border: 1px solid #1497ff;
        }

        &--password {
          padding-right: 3.5rem;
        }
        // &:focus:invalid {
        //     border-bottom: 2px solid orangered;
        // }

        // &:not(:placeholder-shown):focus:valid {
        //     border-bottom: 2px solid orange;
        // }

        &--error {
          border: 1px solid rgba(255, 0, 0, 0.5);
        }
      }

      &__label {
        font-size: 1.2rem;
        // font-weight: 700;
        margin-left: 1.1rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
      }

      &__input:placeholder-shown + label {
        opacity: 0;
        // visibility: hidden;
        transform: translateY(-2rem);
        // color: red;
      }

      &__checkbox {
        font-size: 2rem;

        &--label {
          margin-left: 3px;
          vertical-align: top;
          color: #333;
        }
      }

      &__forgotPassword {
        text-decoration: none;
        color: black;
        font-size: 2rem;

        &:hover {
          text-decoration: underline;
        }
      }

      &__submit {
        width: 100%;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 5px;
        margin-top: 1rem;
        height: 5rem;
      }

      &__error {
        padding: 0.5rem;
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 2rem;

    .text {
      white-space: nowrap;
    }

    a {
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .invalid-feedback {
    &__message {
      font-size: 1.3rem;
      color: rgb(255, 0, 0);
      font-style: italic;
    }
  }
}

.social_login {
  &__icon {
    font-size: 4rem;
    margin-right: 0rem;
    align-self: flex-end;

    &--facebook {
      background-color: #4064ad;
      color: #fff;
    }

    &--google {
      background-color: #ec5c3e;
      color: #fff;
    }
  }

  &__container {
    // margin: 0rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0.5rem;
    margin: 1rem 0rem;
    padding: 0.6rem;
    cursor: pointer;
    &--facebook {
      background-color: #4064ad;
    }

    &--google {
      background-color: #ec5c3e;
    }
  }

  &__text {
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: 2rem;
    min-width: 55%;
    text-align: left;
  }
}

.contact_method {
  &__container {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    margin: 3rem 0rem;
    color: #1497ff;
    align-self: center;
  }

  &__option {
    // border-bottom: 1px solid #aaa;
    padding: 0.5rem;
    cursor: pointer;
    // text-align: center;
    &:active {
      transform: scale(0.97);
    }

    &:visited {
      color: #555;
    }

    // &:last-child{
    //     border-bottom: 1px solid #555;
    // }
  }

  &__arrow {
    margin-top: -0.5rem;
    font-size: 3rem;
  }
}

.disable {
  color: #555;
}

@media only screen and (min-width: 400px) {
  .social_login {
    &__text {
      min-width: 45%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .social_login {
    &__container {
      margin: 1rem 0rem;
      padding: 0.5rem 3rem;
    }

    &__text {
      min-width: 55%;
    }

    &__icon {
      font-size: 3rem;
      margin-right: 1rem;
    }
  }

  .form-container {
    width: 75%;
  }
}

@media only screen and (min-width: 600px) {
  .form-container {
    width: 75%;
    max-width: 50rem;
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    border: 1px solid rgba(black, 0.1);
  }
}

@keyframes slideAndStay {
  0% {
    transform: translateX(105%);
  }
  20% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
