.container {
  padding: 2rem;
  margin: 2rem;
  border: 1px solid rgba(black, 0.2);
  border-radius: 5px;
}

.company {
  &__header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .img {
      height: 8rem;
    }

    .name {
      color: #42597b;
      font-size: 2.5rem;
      font-weight: 700;
      margin-left: 2rem;
      text-transform: uppercase;
      max-width: 50rem;
    }

    .preview {
      position: absolute;
      top: 2.5rem;
      right: 2rem;
      transition: all 0.2s;

      &__icon {
        font-size: 2rem;
        color: #333;
      }

      &__text {
        font-size: 1.5rem;
        margin-left: 1rem;

        &--noLicense {
          font-size: 1.8rem;
          user-select: none;
        }
      }

      &:hover {
        cursor: pointer;

        .preview__icon,
        .preview__text {
          color: purple;
        }
      }

      &:active {
        transform: translateY(1px);
      }
    }

    .verify {
      position: absolute;
      top: 2.5rem;
      left: 5.5rem;
      padding: 0.5rem .8rem;
      border: 1px solid rgba(black, 0.2);
      border-radius: 5px;
      transition: all 0.2s;

      &:hover {
        box-shadow: 0 0 1rem rgba(black, 0.2);
        cursor: pointer;
      }
      &:active {
        transform: translateY(1px);
      }
      &__icon {
        font-size: 1.8rem;
        color: green;
        margin-right: 1rem;
      }

      &__text {
        color: #333;
        font-size: 1.5rem;
        font-weight: 700;
        margin-right: 1rem;
      }

      &__loading {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid rgba(black, 0.5);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s cubic-bezier(0.29, 0.65, 0.38, 0.72) infinite;
      }
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  &__body {
    .details-group {
      display: flex;
      width: 90%;
      margin: 3rem auto;
      justify-content: center;

      & > * {
        flex: 1;
      }
    }

    .detail {
      position: relative;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &__label {
        position: absolute;
        top: -1rem;
        left: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #42597b;
        font-style: italic;
        background-color: white;
        padding: 0 0.2rem;
      }

      &__value {
        padding: 1rem;
        overflow-y: auto;
        max-height: 20rem;
        border: 1px solid rgba(black, 0.2);
        border-radius: 3px;

        a {
          text-decoration: none;
          color: purple;

          &:hover {
            text-decoration: underline;
          }
        }

        .text {
          font-size: 1.8rem;

          &--noLocation {
            color: #888;
            font-style: italic;
          }
        }
      }
    }
  }
}

.business-license-preview__close {
  position: fixed;
  top: 7.2rem;
  right: 6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  // z-index: 10000;
  cursor: pointer;
  border: 2px solid #aa111d;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  // border-radius: 50%;
  color: #aa111d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.25s;
}

.overlay.active {
  z-index: 10200;
  background-color: rgba(black, 0.9);

  .overlay__close {
    display: block;
  }
}

.modalImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  margin: 0 auto;
  opacity: 0;
  cursor: pointer;
  transition: all 0.25s;
}

.modalImage.active {
  height: 90vh;
  opacity: 1;
  z-index: 10200;
}
