<div class="job" [routerLink]="['details', Job.jobId]">
  <div class="job__left">
    <div class="job__left--top">
      <img class="job__company-image" [src]="Job.companyLogo ? Job.companyLogo : 'assets/img/building.png'" />
      <div class="job__left--top__container">
        <h3 class="job__title">{{ Job.jobTitle }}</h3>
        <div style="margin-top: 1rem;">
          <span class="job__company-name">{{ Job.companyName }}</span>
          <span class="job__company-verified"
            ><i class="fas fa-check-circle job__company-verified-icon"></i> Verified</span
          >
        </div>
        <!-- <div>
                    <span class="job__location"><i class="fas fa-map-marker-alt job__location-icon"></i> Location Name</span>
                </div> -->
      </div>
    </div>

    <div class="job__left--middle">
      <p class="job__description">{{ Job.jobDescription }}</p>
      <!-- <span class="job__salary-range">Salary Range: {{ Job.salaryRange }}</span> -->
    </div>

    <div class="job__left--bottom">
      <!-- <div>
        <span class="job__tag"><i class="job__tag-icon fa fa-tag"></i> Tags</span>
      </div> -->
      <div class="job__tag-elements">
        <div class="job__tag-element"><fa-icon class="icon" [icon]="faToolbox"></fa-icon> {{ Job.employmentType }}</div>
        <div class="job__tag-element"><fa-icon class="icon" [icon]="faClock"></fa-icon> {{ Job.industry }}</div>
      </div>
    </div>
  </div>
  <div class="job__right">
    <!-- <button
      [routerLink]="['details', Job.jobId]"
      class="btn-outline job__detail-button"
    >
      Details
    </button> -->
    <div class="job__general-info">
      <!-- <div class="job__info job__info-applicants">
        2 Applicants have applied
      </div> -->
      <div class="job__info job__info-vacancies">{{ Job.vacancies }} Vacancies</div>
      <div *ngIf="Job.pwd" class="job__info job__info-pwd">
        <img src="../../../../assets/img/pwd.jpeg" alt="" class="pwd-img" /> PwD-Friendly
      </div>
    </div>
    <div class="job__general-info">
      <div class="job__info job__info-applicants">Posted {{ Job.applicationStartDate | dateAgo }}</div>
      <div class="job__info job__info-applicants">Ends at {{ Job.applicationEndDate | date }}</div>
    </div>
  </div>
  <div>
    <button *ngIf="!userRole || userRole === 'APPLICANT'"
      (click)="bookmarkJob($event)" [class.job__bookmark--saved]="bookmarked" class="job__bookmark">
      <span class="job__bookmark-text">
        {{ bookmarked ? 'SAVED' : 'SAVE JOB' }}
      </span>
      <i class="job__bookmark-icon far fa-heart"></i>
    </button>
  </div>
</div>
