@import "../../../../assets/scss/abstracts/variables";
.advertisement {
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.register {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-image: url("../../../../assets/img/pattern-2.png");

  .guide {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 3rem 0;

    &--applicant {
      border-right: 0.5px solid #ddd;
    }

    &--company {
      border-left: 0.5px solid #ddd;
    }

    &__title {
      font-size: 2.8rem;
      color: #425a7b;
      text-align: center;
      font-weight: 900;
    }

    &__sub-title {
      font-size: 2.2rem;
      color: #555;
      text-align: center;
      font-weight: 500;
      margin-top: 10px;
    }

    &__lists {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__btn {
      width: auto;
      padding: 0 2.5rem;
      height: 5rem;
      position: relative;
      display: inline-block;
      box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(black, 0.3);
      transition: all 0.3s;

      &:active {
        transform: none;
        &::after {
          content: "";
          display: inline-block;
          // background-image: linear-gradient(60deg, #7d1216, #cc2123);
          background-color: $color-primary;
          height: 100%;
          width: 100%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          animation-name: show;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
      }

      &:hover {
        // transform: translateY(-1px);
        box-shadow: none;
      }
    }

    .list-item {
      flex: 1;
      margin: 3rem 1rem;

      &__icon {
        text-align: center;
        color: #ce3434;
        font-size: 1.5rem;
      }

      &__text {
        font-size: 1.8rem !important;
        color: #555;
        text-align: center;
        margin-top: 8px;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (min-width: 650px) {
  .register {
    flex-direction: row;

    .guide {
      margin-bottom: 0;
    }
  }
}
