.container {
  padding: 2rem;
}
table {
  width: 100%;
  margin: 1.5rem 0;
}

.tag {
  display: inline-block;
  font-size: 2rem;
  // font-weight: 700;

  &:not(:first-child) {
    margin: 0 0.5rem;
  }
  &--verified {
    color: rgba(green, 0.7);
  }

  &--unverified {
    color: rgb(179, 7, 7);
    font-size: 1.8rem;
  }
}

.paginator {
  margin-right: 3%;
}

.verify {
  display: inline-block;
}
.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  color: #666;
  margin: 1rem;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 5;
  background-color: rgba(black, 0.5);
}

.sub-container {
  display: flex !important;
  width: 90%;
  // max-width: 60rem;
  justify-content: flex-end;
  margin: 0 auto;
}

.sub-module-container__heading {
  padding-top: 1.5rem;
}

.filter.active{
  z-index: 5;
  background-color: white;
  // height: 10rem;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6rem;
  position: fixed;
  left: 0;
  z-index: 2;
  padding: 1.8rem 2rem;

  background-color: white;

  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
  }

  &__content {
    background-color: white;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: #ddd;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  &__group {
    display: inline-flex;
    flex: 1 1 auto;
    position: relative;
    border: 1px solid #888;
    // border-radius: 5px;
    margin: 0 1rem 2rem;
    height: 15%;
    width: 78%;
  }

  &__input {
    border: 0;
    padding: 0.6rem 0.5rem;
    flex: 1;
    // line-height: 2;
    font-size: 1.5rem;
    width: 3rem;
  }

  .options {
    position: absolute;
    z-index: 5;
    // margin-top: -.8rem;
    top: 4.5rem;
    left: 0;
    border: 1px solid rgba(85, 85, 85, 0.5);
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &__list {
      list-style: none;
      font-size: 1.8rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:active {
        background-color: #ddd;
      }
    }
  }

  &__submit {
    width: 100%;
    border: none;
    padding: 0 2rem;
  }
}

.add_employer_floating {
  position: fixed;
  right: 4rem;
  bottom: 7rem;
  font-size: 2rem;
  // z-index: 1000;

  &__button {
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px #555;
    background-color: tomato;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 4.1rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      box-shadow: 0 0 2rem rgba(black, 0.2);
    }
  }

  &__element {
    position: relative;
    top: -0.75rem;
    left: 0rem;
  }
}

.company-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }

  &__action {
    display: flex;
    border: none;
    background-color: #fff;
    color: tomato;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;

    &:active {
      transform: scale(1.02);
    }
  }

  &__action--hover {
    &:hover {
      background-color: #eee;
    }
  }

  &__actions-container {
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    width: auto;
  }

  &__actions {
    position: absolute;
    top: 70%;
    // right: 30%;
    left: -1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 2px #888;
  }

  &__icon {
    margin-right: 0.5rem;
    width: 2rem;
    display: flex;
  }
}

.notification {
  position: fixed;
  font-size: 1.8rem;
  top: 8rem;
  right: 0;
  padding: 2.5rem 2rem;
  background-color: rgba(white, 0.9);
  border: 1px solid rgba(black, 0.2);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  cursor: pointer;
  transform: translateX(105%);

  &--added {
    border-left: 3px solid #e1a223;
  }

  &--editted {
    border-left: 3px solid #e1a223;
  }

  &--error {
    border-left: 3px solid rgb(248, 35, 35);
  }
}

.notification.active {
  animation-name: slideAndStay;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slideAndStay {
  0% {
    transform: translateX(105%);
  }
  20% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
