.container {
  padding: 2rem;
}
table {
  width: 100%;
  margin: 1.5rem 0;
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 5;
  background-color: rgba(black, 0.5);
}


.filter.active{
  z-index: 5;
  background-color: white;
  // height: 10rem;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6rem;
  position: fixed;
  left: 0;
  z-index: 2;
  padding: 1.8rem 2rem;

  background-color: white;

  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
  }

  &__content {
    background-color: white;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: #ddd;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  &__group {
    display: inline-flex;
    flex: 1 1 auto;
    position: relative;
    border: 1px solid #888;
    // border-radius: 5px;
    margin: 0 0.5rem 2.5rem;
    height: 15%;
    width: 80%;
  }

  &__input {
    border: 0;
    padding: 0.6rem 0.5rem;
    flex: 1;
    // line-height: 2;
    font-size: 1.5rem;
    width: 3rem;
  }

  .options {
    position: absolute;
    z-index: 5;
    // margin-top: -.8rem;
    top: 4.5rem;
    left: 0;
    border: 1px solid rgba(85, 85, 85, 0.5);
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &__list {
      list-style: none;
      font-size: 1.8rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:active {
        background-color: #ddd;
      }
    }
  }

  &__submit {
    width: 100%;
    border: none;
    padding: 0 2rem;
  }
}

.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: #666;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}

.tag {
  display: inline-block;
  color: white;
  background-color: teal;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 2rem;
  text-transform: uppercase;

  &:not(:first-child) {
    margin: 0 0.5rem;
  }
  &--verified {
    background-color: rgba(green, 0.7);
  }

  &--unverified {
    background-color: #888;
  }
}
