.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    color: #aaa;
    text-transform: capitalize;
    margin: 2rem 0;
  }

  &__submit {
    width: 15rem;
    align-self: center;
  }

  &__submit--inactive {
    background: #fff;
    color: #555;
    border: 1px solid #555;
  }

  &__edit-icon {
    font-size: 2rem;
    color: #ce2127;
    margin-left: 1rem;
  }

  &__edit {
    font-size: 1.8rem;
    width: 13rem;
    height: 4rem;
    color: #ce2127;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    border: 1px solid #ce2127;
    border-radius: 5rem;
    padding: 0rem 2rem;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }
  }

  &__error {
    color: red;
    font-size: 1.4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  &__error-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: rgba(255, 0, 0, 0.548);
  }
}

.add-company-profile {
  align-self: center;
  width: 100%;
  // background-color: #ccc;
}
.sub-container {
  display: flex;
  // flex-wrap: wrap;
  width: 90%;
  max-width: 60rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.submit-container {
  display: flex;
  width: 100%;
  max-width: 60rem;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.date-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-element-type {
  &-1 {
    width: 100%;
  }

  &-2 {
    width: 100%;
  }

  &-3 {
    width: 100%;
    margin: 1rem 0rem;
  }

  &-4 {
    width: 100%;
  }
}

.employer-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem;
  color: #555;

  &__step {
    padding: 0rem, 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    // &--done{
    //     color: rgb(47, 170, 47, 0.58);
    //     border: 2px solid rgb(47, 170, 47, 0.58);
    // }

    &--done + .employer-steps__middle,
    &--done > .employer-steps__icon {
      background-color: rgb(47, 170, 47, 0.58);
      color: #fff;
    }

    &--current-state + .employer-steps__middle,
    &--current-state > .employer-steps__icon {
      color: rgb(47, 170, 47, 0.58);
      background-color: #fff;
      border: 2px dashed rgb(47, 170, 47, 0.58);
    }
  }

  &__icon {
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #888;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__middle {
    height: 0.5rem;
    margin: 0 0.5rem;
    flex: 1;
    background-color: #aaa;
    margin-top: -2.5rem;
  }

  &__display-text {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

.applicant-picture-display {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 8px #ccc;
  margin-right: 2rem;
  // background-color: #fff;

  &:hover > &__edit {
    top: 60%;
  }

  &__image {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__edit {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    transition: 0.2s all;
    text-transform: uppercase;
    background-color: rgba(27, 27, 27, 0.493);
    text-align: center;
    cursor: pointer;

    &__edit {
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 1rem;
      padding-bottom: 2.5rem;
      transition: all 0.3s;
      text-transform: uppercase;
      background-color: rgba(27, 27, 27, 0.493);
      text-align: center;
      cursor: pointer;

      &:active .picture-icon {
        transform: scale(1.05);
      }
    }
  }

  .picture-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 0;
    margin: 0;
    opacity: 0;
    font-size: 20rem;
    &:hover {
      cursor: pointer;
    }
  }

  .picture-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}

.cv-preview {
  width: 100%;
  // height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;
  margin-bottom: 2rem;

  &__btn {
    border: none;
    background-color: #fff;
    border: 1px solid tomato;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    color: tomato;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.2s all;

    &:active {
      transform: scale(1.05);
    }
  }

  &__close {
    position: fixed;
    top: 7.2rem;
    right: 6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    // z-index: 10000;
    cursor: pointer;
    border: 2px solid tomato;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    // border-radius: 50%;
    color: tomato;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;

  &__close {
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 9500;
    cursor: pointer;
    transition: all 0.2s;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      font-size: 2.5rem;
      color: #ddd;
    }

    &:active {
      background-color: #aaa;
    }
  }
}

.overlay.active {
  z-index: 2500;
  background-color: rgba(black, 0.8);

  .overlay__close-icon {
    transform: translate(-50%, -50%) scale(1);
  }
}

.image {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;
  width: 100%;

  &__cropper {
    max-height: 320px;
    margin-bottom: 2.5rem;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;

    .submit {
      width: 15rem;
    }
  }
}

@media only screen and (min-width: 500px) {
  .input-element-type {
    &-1 {
      width: 50%;
    }

    &-3 {
      margin: 0rem;
      width: 33.3%;
    }

    &-4 {
      width: 33.3%;
    }
  }

  .sub-container {
    flex-direction: row;
  }

  .add-company-profile {
    width: 90%;
  }
}

@media only screen and (min-width: 700px) {
  .form {
    &__title-container {
      flex-direction: row;
    }

    &__title {
      margin: 0 2rem;
    }
  }

  .employer-steps {
    &__icon {
      font-size: 5rem;
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
    }
  }
}
