<div *ngIf="!showCVPreview">
  <div class="employer-steps">
    <div
      class="employer-steps__step employer__first-step employer-steps__step--done"
    >
      <fa-icon class="employer-steps__icon" [icon]="faUserPlus"></fa-icon>
      <div class="employer-steps__display-text"><h5>Register</h5></div>
    </div>
    <div class="employer-steps__middle"></div>
    <div
      class="employer-steps__step employer__second-step employer-steps__step--done"
    >
      <fa-icon class="employer-steps__icon" [icon]="faUserCheck"></fa-icon>
      <div class="employer-steps__display-text"><h5>Verify Your Email</h5></div>
    </div>
    <div class="employer-steps__middle"></div>
    <div
      class="employer-steps__step employer__third-step"
      [class.employer-steps__step--done]="applicantProfile"
      [class.employer-steps__step--current-state]="!applicantProfile"
    >
      <fa-icon class="employer-steps__icon" [icon]="faIdCard"></fa-icon>
      <div class="employer-steps__display-text"><h5>Add Profile</h5></div>
    </div>
    <div class="employer-steps__middle"></div>
    <div
      class="employer-steps__step employer__forth-step"
      [class.employer-steps__step--current-state]="applicantProfile"
    >
      <fa-icon class="employer-steps__icon" [icon]="faCloudUploadAlt"></fa-icon>
      <div class="employer-steps__display-text"><h5>Apply</h5></div>
    </div>
  </div>
  <form
    action="#"
    class="form"
    [formGroup]="addApplicantProfileForm"
    (ngSubmit)="this.applicantProfile ? onEdit() : onSubmit()"
  >
    <div class="form__title-container">
      <div class="applicant-picture-display">
        <img
          *ngIf="!tempImg"
          class="applicant-picture-display__image"
          [src]="
            applicantProfile?.applicantPicture
              ? applicantProfile.applicantPicture
              : 'assets/img/anonymous-avatar.png'
          "
          alt="applicant-picture"
        />
        <img
          *ngIf="tempImg"
          class="applicant-picture-display__image"
          [src]="tempImg"
          alt="applicant-picture"
        />

        <div *ngIf="!hasProfile" class="applicant-picture-display__edit">
          <input
            type="file"
            name=""
            id=""
            class="picture-input"
            accept="image/x-png,image/jpeg,image/jpg"
            [(ngModel)]="selectedImage"
            formControlName="applicantPicture"
            (change)="imageChanged($event)"
          />
          <fa-icon class="picture-icon" [icon]="faCamera"></fa-icon>
        </div>
      </div>
      <h4 *ngIf="!applicantProfile" class="form__title">Add Your Profile</h4>
      <div *ngIf="applicantProfile" class="form__title">
        <shared-custom-input-field
          class="input-element-type-1"
          [formGroup]="addApplicantProfileForm"
          name="fullName"
          [defaultValue]="applicantProfile?.fullName"
          placeholder="Full Name"
          label="Full Name"
          [input]="addApplicantProfileForm.controls['fullName']"
          type="text"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [limit] ="defaultLimit"
        ></shared-custom-input-field>

        <shared-custom-input-field
          class="input-element-type-1"
          [formGroup]="addApplicantProfileForm"
          name="phoneNumber"
          [defaultValue]="applicantProfile?.phoneNumber"
          placeholder="Phone Number"
          label="Phone Number"
          [input]="addApplicantProfileForm.controls['phoneNumber']"
          type="tel"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [limit] ="defaultLimit"
        ></shared-custom-input-field>
      </div>
    </div>
    <div class="add-company-profile">
      <!-- <div
        *ngIf="submitted && addApplicantProfileForm.invalid"
        class="form__error"
      >
        <p *ngFor="let err of formErrors">
          <fa-icon class="form__error-icon" [icon]="faCheck"></fa-icon>{{ err }}
        </p>
      </div> -->
      <div
        style="padding: 1rem"
        *ngIf="applicantProfile && applicantProfile.cv"
        class="sub-container"
      >
        <div class="cv-preview">
          Preview Your CV
          <a (click)="onCVPreview($event)" class="cv-preview__btn">Preview</a>
          <a (click)="toggleCVModal()" class="cv-preview__btn">
            <fa-icon [icon]="faEdit"></fa-icon> Edit</a>
        </div>
      </div>
      <div *ngIf="!(applicantProfile && applicantProfile.cv)"
        style="justify-content: space-between;" class="sub-container">
        <shared-custom-file-input
          class="input-element-type-2"
          [formGroup]="addApplicantProfileForm"
          name="cv"
          placeholder="Upload CV"
          [label]="applicantProfile ? 'Your CV' : 'Upload CV'"
          [input]="addApplicantProfileForm.controls['cv']"
          type="file"
          [submitted]="submitted || fileTypeError"
          [disabled]="hasProfile"
          [accept]="cvFileTypes"
          (onValueChange)="fileChanged($event, 'cv')"
        ></shared-custom-file-input>
      </div>
      <div class="sub-container">
        <shared-custom-input-field
          class="input-element-type-1"
          [formGroup]="addApplicantProfileForm"
          name="currentEmployer"
          [defaultValue]="applicantProfile?.currentEmployer"
          placeholder="Current Employer"
          label="Current Employer"
          [input]="addApplicantProfileForm.controls['currentEmployer']"
          type="text"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [limit] ="defaultLimit"
        ></shared-custom-input-field>
        <shared-custom-input-field
          class="input-element-type-1"
          [formGroup]="addApplicantProfileForm"
          name="currentOccopation"
          [defaultValue]="applicantProfile?.currentOccopation"
          placeholder="Current Occupation"
          label="Current Occupation"
          [input]="addApplicantProfileForm.controls['currentOccopation']"
          type="text"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [limit] ="defaultLimit"
        ></shared-custom-input-field>
      </div>

      <div class="sub-container">
        <shared-custom-select
          [valid]="addApplicantProfileForm.controls['gender']?.status"
          (onValueChange)="selectChanged($event, 'gender')"
          name="gender"
          label="Gender"
          [defaultValue]="applicantProfile?.gender"
          [styleObject]="styleObject"
          class="input-element-type-1"
          placeholder="Select Gender"
          [options]="genderOptions"
          [submitted]="submitted"
          [disabled]="hasProfile"
        ></shared-custom-select>
        <shared-custom-input-field
          class="input-element-type-1"
          [formGroup]="addApplicantProfileForm"
          name="address"
          [defaultValue]="applicantProfile?.address"
          placeholder="Address"
          label="Address"
          [input]="addApplicantProfileForm.controls['address']"
          type="text"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [limit] ="defaultLimit"
        ></shared-custom-input-field>
      </div>
      <div class="sub-container">
        <shared-custom-select
          [valid]="addApplicantProfileForm.controls['month']?.status"
          (onValueChange)="selectChanged($event, 'month')"
          name="month"
          label="Birth Day"
          [defaultValue]="applicantProfile?.month"
          [styleObject]="styleObject"
          class="input-element-type-3"
          placeholder="Month"
          [options]="monthOptions"
          [submitted]="submitted"
          [disabled]="hasProfile"
        ></shared-custom-select>

        <shared-custom-input-field
          class="input-element-type-3"
          [formGroup]="addApplicantProfileForm"
          name="date"
          [defaultValue]="applicantProfile?.date"
          placeholder="Date"
          label="Date"
          [input]="addApplicantProfileForm.controls['date']"
          type="number"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="styleObject"
          [range]="dateRange"
        ></shared-custom-input-field>


        <shared-custom-input-field
          class="input-element-type-3"
          [formGroup]="addApplicantProfileForm"
          name="year"
          [defaultValue]="applicantProfile?.year"
          placeholder="Year"
          label="Year"
          [input]="addApplicantProfileForm.controls['year']"
          type="number"
          [submitted]="submitted"
          [disabled]="hasProfile"
          [styleObject]="dateStyle"
          [range]="yearRange"
          [styleObject]="styleObject"
        ></shared-custom-input-field>
      </div>

      <div class="sub-container">
        <shared-custom-select
          [valid]="addApplicantProfileForm.controls['RegionId']?.status"
          (onValueChange)="selectChanged($event, 'CountryId')"
          name="CountryId"
          [defaultValue]="1"
          label="Country"
          [styleObject]="styleObject"
          class="input-element-type-3"
          placeholder="Select Country"
          [options]="countries"
          [submitted]="submitted"
          [disabled]="hasProfile"
        ></shared-custom-select>
        <shared-custom-select
          [valid]="addApplicantProfileForm.controls['RegionId']?.status"
          (onValueChange)="selectChanged($event, 'RegionId'); citySelect.resetValue();"
          name="RegionId"
          [defaultValue]="+applicantProfile?.RegionId"
          label="Region"
          [styleObject]="styleObject"
          class="input-element-type-3"
          placeholder="Select Region"
          [options]="regions"
          [submitted]="submitted"
          [disabled]="hasProfile"
        ></shared-custom-select>
        <shared-custom-select
          [valid]="addApplicantProfileForm.controls['CityId']?.status"
          (onValueChange)="selectChanged($event, 'CityId')"
          name="CityId"
          [defaultValue]="+applicantProfile?.CityId"
          label="City"
          [styleObject]="styleObject"
          class="input-element-type-3"
          placeholder="Select City"
          [options]="cities"
          [submitted]="submitted"
          [disabled]="hasProfile"
          #citySelect
        ></shared-custom-select>
      </div>
      <div class="sub-container">
        <shared-textarea-field
          [disabled]="hasProfile"
          class="input-element-type-2"
          [formGroup]="addApplicantProfileForm"
          name="selfDescription"
          [defaultValue]="applicantProfile?.selfDescription"
          placeholder="Describe Yourself"
          label="Describe Yourself"
          [input]="addApplicantProfileForm.controls['selfDescription']"
          type="textarea"
          [submitted]="submitted"
        ></shared-textarea-field>
      </div>
      <div class="submit-container">
        <div
          (click)="enableEdit($event)"
          *ngIf="hasProfile && applicantProfile"
          class="form__edit"
        >
          Edit <fa-icon class="form__edit-icon" [icon]="faEdit"></fa-icon>
        </div>
        <div
          (click)="disableEdit()"
          *ngIf="!hasProfile && applicantProfile"
          class="form__edit"
        >
          Cancel
        </div>
        <!-- <input
          type="submit"
          class="form__submit th-btn th-btn--primary"
          *ngIf="!hasProfile"
          [class.form__submit--inactive]="hasProfile"
          [disabled]="hasProfile"
          [value]="applicantProfile ? 'Save Profile' : 'Add Profile'"
        /> -->
        <app-custom-submit-button
          *ngIf="!hasProfile"
          [text]="applicantProfile ? 'Save Profile' : 'Add Profile'"
          [loading]="loading"
        ></app-custom-submit-button>

        <app-custom-notification
          [show]="success"
          type="success"
          [callback]="!applicantProfile ? '/applicant/jobs' : ''"
          [text]="
            applicantProfile
              ? 'Profile Editted Successfully'
              : 'Profile Submitted Successfully'">
        </app-custom-notification>

        <app-custom-notification [show]="formError" type="error" 
          [text]="applicantProfile ? 'Update Failed. Try again!' : 'Could not upload. Try again!'">
      </app-custom-notification>
      </div>
    </div>
  </form>
</div>

<app-edit-applicant-cv-modal
  (applicantChanged)="applicantUpdated($event)"
  [cvUrl]="applicantProfile?.cv"
  [isModalOpen]="isCVEditModalOpen"
  (closeModalEvent)="toggleCVModal()"
></app-edit-applicant-cv-modal>

<div class="overlay" [class.active]="imageChangedEvent">
  <div (click)="closeImageModal()" class="overlay__close">
    <fa-icon class="overlay__close-icon" [icon]="faTimes"></fa-icon>
  </div>
</div>

<div class="image" *ngIf="imageChangedEvent">
  <image-cropper
    class="image__cropper"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1"
    [maintainAspectRatio]="false"
    (imageCropped)="imageCropped($event)"
  ></image-cropper>

  <div class="image__actions">
    <button (click)="saveImage()" class="th-btn th-btn--primary submit">
      Save
    </button>
  </div>
</div>

<ngx-doc-viewer
  [url]="applicantProfile?.cv"
  viewer="google"
  *ngIf="showCVPreview"
  style="position: fixed;top:6rem;left:0;right: 0;bottom:0;z-index:11000;"
></ngx-doc-viewer>
<div
  style="z-index:11001;"
  [style.display]="showCVPreview ? 'block' : 'none'"
  (click)="onCVPreview($event)"
  class="cv-preview__close"
>
  &#10005;
</div>
<shared-loader *ngIf="showLoader || showCVPreview"></shared-loader>
