.current_subscription {
  &__container {
    display: flex;
    flex-direction: column;
    border: 2px solid #8dd3d5;
    align-items: center;
    padding: 3rem;
    align-self: center;
    max-width: 50rem;
    position: relative;
    margin: 3rem 0rem;
  }

  &__header {
    position: absolute;
    font-size: 1.2rem;
    text-transform: uppercase;
    // left: 999999px;
    // right: 999999px;
    top: -0.9rem;
    z-index: 100;
    background-color: #4e4e2d;
    color: #fff;
    border-radius: 5rem;
    padding: 0.2rem 3rem;
  }

  &__type {
    font-size: 2.5rem;
    color: #42597b;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;

    &--premium {
      color: rgba(2, 172, 2, 0.856);
    }
  }

  &__name {
    font-size: 2.2rem;
    color: #888;
    padding: 1rem;
  }

  &__value {
    font-size: 1.5rem;
    color: #888;
    padding: 1rem;
    position: relative;
    text-align: center;
    max-width: 15rem;
  }

  &__price {
    font-size: 3.5rem;
    color: #7d1216;
    padding: 1rem;
    position: relative;
  }

  &__upgrade {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 8rem;
  }

  &__currency-type {
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    color: #7d1216;
  }
}

.sub-module-container__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription {
  &__partition {
    margin: 5rem 0rem;
    border-top: 0.5rem solid #888;
    width: 100%;
    // text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 3rem;
    transition: all 0.1s;
  }

  &__msg{
    font-size: 2rem;
    color: #aaa;
    padding: 0 1rem 5rem 0px;
    display: block;
  }

  &__partition_text {
    font-size: 1.2rem;
    top: -1.1rem;
    background-color: #888;
    padding: 0.2rem 8rem;
    border-radius: 10rem;
    color: #fff;
    position: absolute;
  }

  &__type_options {
    display: flex;
    justify-content: center;
    // flex-direction: row;
    width: 100%;
  }

  &__type {
    padding: 0.3rem 3rem;
    color: #888;
    border: 1px solid #888;
    text-transform: uppercase;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    margin: 0rem 1rem;
    transition: all 0.2s;

    &:active {
      transform: scale(1.05);
    }

    &--active {
      color: rgb(247, 99, 99);
      border: 1px solid rgb(247, 99, 99);
    }
  }

  &__container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
  }
}
