<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Filtered Job Candidates</h3>
  <div class="sub-module-container__container job">
    <div class="main-contianer">
      <!-- <div class="candidates__header">
                Job Detail
            </div> -->
      <div>
        <app-job-employer [Job]="job"></app-job-employer>
      </div>

      <div class="candidates__header">
        APPLICANTS
      </div>
      <table
        style="width: 100%;"
        *ngIf="applicants && applicants.length > 0"
        mat-table
        [dataSource]="applicants"
        class="mat-elevation-z3"
      >
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef>Picture</th>
          <td mat-cell *matCellDef="let applicants">
            <img style="max-width: 6rem" [src]="applicants.applicantPicture" alt="picture" />
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants.firstName + ' ' + applicants.lastName }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants?.gender }}
          </td>
        </ng-container>

        <!-- Name Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="applicationDate">
          <th mat-header-cell *matHeaderCellDef>Applied Date</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants?.createdAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef>Detail</th>
          <td mat-cell style="min-width: 8rem;" *matCellDef="let applicants">
            <button (click)="showApplicantDetail(applicants, job)" class="candidate__detail">
              Detail
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
