.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 9rem 2rem;
  min-height: 45rem;
  border-radius: 5px;
  // padding: 2rem;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__header {
    color: #42597b;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    // text-transform: uppercase;
  }

  &__body {
    padding: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__group {
      display: flex;
      flex-direction: row;
      align-items: center;

      &--input {
        position: relative;
      }
    }

    &__divider {
      display: none;
    }

    .disabled {
      border: 1px solid grey;
      background: white;
      color: grey;
      pointer-events: none;
    }
  }
}

.map-container {
  border-radius: 5px;
  overflow: hidden;
  height: 35rem;
}
@media only screen and (min-width: 650px) {
  .container {
    flex-direction: row;
    align-items: center;

    & > * {
      flex: 1;
    }

    .form {
      // text-align: center;

      &__group {
        flex-direction: row;
        justify-content: center;

        &--input {
          margin: 0 1rem 0 0;
        }
      }

      &__divider {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -5px;
        height: 4rem;
        border-left: 2px solid rgba(255, 99, 71, 0.8);
        transform: translateY(-80%);
      }
    }
  }

  .controller {
    height: 35rem;
    // border: 1px solid #bbb;
  }
}
