.form {
  // width: 50%;
  &__group {
    margin: 1rem;

    &--last {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .disabled {
      background: white;
      color: grey;
      cursor: progress;
    }
  }

  &__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    color: #555;

    &:focus {
      outline: none;
      border-bottom: 1px solid orange;
      background-color: #f3f3f3aa;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus:invalid {
      border-bottom: 1px solid orangered;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translateY(-5rem);
      opacity: 1;
    }

    &:not(:placeholder-shown):focus:valid {
      border-bottom: 1px solid #41df75;
    }

    &--error {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }

    &[type="file"] {
      width: 100%;

      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        content: "\f03e";
        display: inline-block;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
      }

      &:not(:disabled):hover::before {
        color: #aa111d;
      }

      &:not(:disabled):active::before {
        color: #aa111d;
      }
    }

    &:disabled {
      background-color: #eee;
    }
  }

  &__label {
    opacity: 0;
    transform: translateY(-2.5rem);
    font-size: 1.2rem;
    display: block;
    transition: all 0.2s;
    color: #555;
  }

  // &__input:placeholder-shown + label {

  // }

  &__forgotPassword {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__submit {
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 1rem;
  }

  &__error {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
  }
}

.invalid-feedback {
  transform: translateY(-1rem);

  &__message {
    color: red;
    font-size: 1.2rem;
  }
}
