.heading-text {
  position: relative;
  font-size: 2.8rem;
  color: #888;
  padding: 1rem;
}

.add_job_floating {
  position: fixed;
  right: 4rem;
  bottom: 7rem;
  font-size: 2rem;
  cursor: pointer;
  // z-index: 1000;

  &__button {
    position: relative;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px #555;
    background-color: tomato;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    color: #fff;
    font-size: 4.1rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 5rem rgba(black, 0.2);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &__element {
    position: relative;
    top: -0.75rem;
    left: 0rem;
  }
}
