<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Job Candidates</h3>
  <div class="sub-module-container__container job">
    <div class="main-contianer">
      <!-- <div class="candidates__header">
                Job Detail
            </div> -->
      <div>
        <app-job-employer [Job]="job"></app-job-employer>
      </div>

      <div class="candidates__header">
        APPLICANTS
      </div>
      <table
        style="width: 100%;"
        *ngIf="applicants && applicants.length > 0"
        mat-table
        [dataSource]="applicants"
        class="mat-elevation-z3"
      >
        <ng-container matColumnDef="picture">
          <th mat-header-cell *matHeaderCellDef>Picture</th>
          <td mat-cell *matCellDef="let applicants">
            <img style="max-width: 6rem" [src]="applicants.applicantPicture" alt="picture" />
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants.firstName + ' ' + applicants.lastName }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants?.gender }}
          </td>
        </ng-container>

        <!-- Name Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="applicationDate">
          <th mat-header-cell *matHeaderCellDef>Applied Date</th>
          <td mat-cell *matCellDef="let applicants">
            {{ applicants?.createdAt | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detail">
          <th mat-header-cell *matHeaderCellDef>Detail</th>
          <td mat-cell style="min-width: 8rem;" *matCellDef="let applicants">
            <button (click)="showApplicantDetail(applicants, job)" class="candidate__detail">
              Detail
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [length]="pager?.totalItems"
        [pageSize]="pager?.pageSize"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"
        (page)="getServerData($event)"
      >
      </mat-paginator>
      <!-- <div class="candidates__container">
        <div style="display: flex; justify-content: space-between;padding: 0rem 1rem;">
          <h2 class="candidates__headers candidates__headers--pictrue">Picture</h2>
          <h2 class="candidates__headers candidates__headers--name">Applicant Name</h2>
          <h2 class="candidates__headers candidates__headers--gender">Gender</h2>
          <h2 class="candidates__headers candidates__headers--date-of-birth">Date Of Birth</h2>
          <h2 class="candidates__headers candidates__headers--detail">Detail</h2>
        </div>
      </div>

      <div class="candidates__container">
        <div *ngFor="let applicant of applicants" class="candidate">
          <img [src]="applicant.applicantPicture" alt="picture" class="candidate__image" />
          <h3 class="candidate__name">
            {{ applicant?.firstName + ' ' + applicant?.lastName }}
          </h3>
          <h2 class="candidate__gender">{{ applicant?.gender }}</h2>
          <h2 class="candidate__date-of-birth">{{ applicant?.createdAt | date }}</h2>
          <button (click)="showApplicantDetail(applicant, job)" class="candidate__detail">
            Detail
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
