<div *ngIf="company" class="sub-module-container">
  <div class="company">
    <img [src]="company.companyLogo" alt="" class="company__img" />
    <h3 class="sub-module-container__heading header">
      {{ company.companyName }} locations
    </h3>
  </div>
  <div class="fab" title="Add Company Location">
    <button routerLink="add" class="fab__button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <h3 class="noLocations" *ngIf="locations && locations.length == 0">
    There are no locations listed under this company.
  </h3>
  <div class="sub-module-container__container job" *ngIf="locations.length > 0">
    <table mat-table [dataSource]="locations" class="mat-elevation-z3">
      <!-- Image Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Location Image</th>
        <td mat-cell *matCellDef="let location">
          <img
            style="margin: 0.5rem 0; height: 5rem;"
            [src]="
              location.picture ? location.picture : 'assets/img/building.png'
            "
            alt=""
            class="logo"
          />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let location">{{ location.email }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="locationName">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let location">{{ location.locationName }}</td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="headOffice">
        <th mat-header-cell *matHeaderCellDef>Head Office</th>
        <td mat-cell *matCellDef="let location">
          <div *ngIf="location.isHeadOffice" class="tag tag--verified">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
          </div>
          <div *ngIf="!location.isHeadOffice" class="tag tag--unverified">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let location">
          <button mat-button [matMenuTriggerFor]="menu">
            <fa-icon style="color: tomato" [icon]="faEllipsisV"></fa-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button [routerLink]="['edit', location.id]" mat-menu-item>
              <fa-icon class="menu-icon" [icon]="faArrowCircleRight"></fa-icon>
              Details
            </button>
            <button mat-menu-item>
              <fa-icon class="menu-icon" [icon]="faTimes"></fa-icon> Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="paginator">
      <mat-paginator
        [length]="pager?.totalItems"
        [pageSize]="pager?.pageSize"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"
        (page)="getServerData($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
