.company {
  display: flex;
  align-items: center;
  padding: 2rem;
  &__img {
    height: 8rem;
  }
}
.fab {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  text-align: center;

  &__button {
    // display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 4px #555;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 5rem rgba(black, 0.2);
      // transform: translateY(-1px);
      cursor: pointer;
    }
  }
}

.noLocations {
  color: #888;
  font-size: 2rem;
  padding: 2rem;
  font-weight: 600;
}

.tag {
  display: inline-block;
  font-size: 2rem;
  // font-weight: 700;

  &:not(:first-child) {
    margin: 0 0.5rem;
  }
  &--verified {
    color: rgba(green, 0.7);
  }

  &--unverified {
    color: rgb(179, 7, 7);
    font-size: 1.8rem;
  }
}

table {
  width: 100%;
}

.paginator {
  margin-right: 3%;
}
