.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    color: #aaa;
    text-transform: capitalize;
  }

  &__input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    color: #555;
    margin-top: 1rem;

    &:focus {
      outline: none;
      border-bottom: 1px solid orange;
      background-color: #f3f3f3aa;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus:invalid {
      border-bottom: 1px solid orangered;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translateY(-5rem);
      opacity: 1;
    }

    &:not(:placeholder-shown):focus:valid {
      border-bottom: 1px solid #41df75;
    }

    &--error {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }
  }

  &__label {
    opacity: 0;
    transform: translateY(-2.5rem);
    font-size: 1.2rem;
    display: block;
    transition: all 0.2s;
    color: #555;
  }

  &__group {
    position: relative;
    padding: 0 1rem;

    .options {
      position: absolute;
      z-index: 5;
      // margin-top: -.8rem;
      top: 4.5rem;
      left: 0;
      border: 1px solid rgba(85, 85, 85, 0.5);
      border-radius: 3px;
      background-color: #fff;
      width: 100%;
      max-height: 25rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }

      &__list {
        list-style: none;
        font-size: 1.3rem;
        padding: 0.8rem 1rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover,
        &:active {
          background-color: #ddd;
        }
      }
    }
  }

  &__submit {
    width: 100%;
    // border-radius: 5px;
    align-self: center;
  }

  &__submit--inactive {
    background: #fff;
    color: #555;
    border: 1px solid #555;
  }

  &__edit-icon {
    font-size: 2rem;
    color: #aa111d;
    margin-left: 1rem;
  }

  &__edit {
    font-size: 1.8rem;
    color: #aa111d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    border: 1px solid #aa111d;
    border-radius: 5rem;
    padding: 0rem 2rem;
    cursor: pointer;
    width: 13rem;
    height: 4rem;
    &:active {
      transform: scale(1.02);
    }
  }

  &__error {
    color: red;
    font-size: 1.4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  &__error-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: rgba(255, 0, 0, 0.548);
  }
}

.add-company-profile {
  align-self: center;
  width: 100%;
  // background-color: #ccc;
}
.sub-container {
  display: flex;
  // flex-wrap: wrap;
  width: 90%;
  max-width: 70rem;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
}

.submit-container {
  display: flex;
  width: 90%;
  max-width: 70rem;
  justify-content: flex-end;
  margin: 0 auto;
}

.input-element-type {
  &-1 {
    width: 100%;
  }

  &-2 {
    width: 100%;
  }

  &-3 {
    width: 100%;
    margin: 1rem 0rem;
  }

  &-4 {
    width: 100%;
  }
}

.employer-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem;
  color: #555;

  &__step {
    padding: 0rem, 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    // &--done{
    //     color: rgb(47, 170, 47, 0.58);
    //     border: 2px solid rgb(47, 170, 47, 0.58);
    // }

    &--done + .employer-steps__middle,
    &--done > .employer-steps__icon {
      background-color: rgb(47, 170, 47, 0.58);
      color: #fff;
    }

    &--current-state + .employer-steps__middle,
    &--current-state > .employer-steps__icon {
      color: rgb(47, 170, 47, 0.58);
      background-color: #fff;
      border: 2px dashed rgb(47, 170, 47, 0.58);
    }
  }

  &__icon {
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #888;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__middle {
    height: 0.5rem;
    margin: 0 0.5rem;
    flex: 1;
    background-color: #aaa;
    margin-top: -2.5rem;
  }

  &__display-text {
    font-size: 1.8rem;
    margin-top: 1rem;
  }
}

.company-logo-display {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 8px #ccc;
  margin-right: 2rem;
  // background-color: #fff;

  &:hover > &__edit {
    top: 60%;
  }

  &__image {
    position: absolute;
    height: 10rem;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }

  &__edit {
    position: absolute;
    top: 100%;
    width: 100%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    transition: 0.2s all;
    text-transform: uppercase;
    background-color: rgba(27, 27, 27, 0.493);
    text-align: center;
    cursor: pointer;

    &__edit {
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 1rem;
      padding-bottom: 2.5rem;
      transition: all 0.3s;
      text-transform: uppercase;
      background-color: rgba(27, 27, 27, 0.493);
      text-align: center;
      cursor: pointer;

      &:active .picture-icon {
        transform: scale(1.05);
      }
    }
  }

  .picture-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 0;
    margin: 0;
    opacity: 0;
    font-size: 20rem;
    &:hover {
      cursor: pointer;
    }
  }

  .picture-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
}

.business-license-preview {
  width: 100%;
  // height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  padding: 1rem;

  &__btn {
    border: none;
    background-color: #fff;
    border: 1px solid #aa111d;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    color: #aa111d;
    margin-left: 2rem;
    cursor: pointer;
    transition: 0.2s all;

    &:active {
      transform: scale(1.05);
    }
  }

  &__close {
    position: fixed;
    top: 7.2rem;
    right: 6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    // z-index: 10000;
    cursor: pointer;
    border: 2px solid #aa111d;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    // border-radius: 50%;
    color: #aa111d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.invalid-feedback {
  transform: translateY(-1rem);

  &__message {
    color: red;
    font-size: 1.2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.25s;
}

.overlay.active {
  z-index: 10200;
  background-color: rgba(black, 0.9);

  .overlay__close {
    display: block;
  }
}

.modalImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  margin: 0 auto;
  opacity: 0;
  cursor: pointer;
  transition: all 0.25s;
  z-index: -1;
}

.modalImage.active {
  height: 90vh;
  opacity: 1;
  z-index: 10200;
}

@media only screen and (min-width: 500px) {
  .input-element-type {
    &-1 {
      width: 50%;
    }

    &-3 {
      margin: 0rem;
      width: 33.3%;
    }

    &-4 {
      width: 33.3%;
    }
  }

  .sub-container {
    flex-direction: row;
  }

  .add-company-profile {
    width: 90%;
  }

  .form {
    &__title-container {
      flex-direction: row;
    }
    &__group {
      padding: 0;
    }
  }
}

@media only screen and (min-width: 700px) {
  .form {
    // border: 1px solid #aaa; 
    padding: 1rem 0rem; 
    border-radius: 1rem;
  }
  .employer-steps {
    &__icon {
      font-size: 5rem;
      width: 10rem;
      height: 10rem;
      border-radius: 10rem;
    }
  }
}
