.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.details {
  width: 45%;
}

.attachment {
  width: 50%;
}

.detail {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__label {
    position: absolute;
    top: -1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: #42597b;
    font-style: italic;
    background-color: white;
    padding: 0 0.2rem;
    font-weight: 600;
  }

  &__value {
    padding: 1.3rem;
    border: 1px solid rgba(black, 0.2);
    border-radius: 3px;

    &--image {
      text-align: center;
      padding: 2rem;
      cursor: pointer;
    }

    &--form {
      padding: 1.5rem 1rem;
    }

    .text {
      font-size: 1.8rem;
      overflow-y: auto;
      max-height: 12rem;

      &--noReply {
        color: #888;
        font-style: italic;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
    }

    .img {
      width: 90%;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.25s;

  &__close {
    position: absolute;
    display: none;
    top: 10rem;
    right: 6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5rem;
      color: #ddd;
    }

    &:active {
      background-color: #aaa;
    }
  }
}

.overlay.active {
  z-index: 10200;
  background-color: rgba(black, 0.9);

  .overlay__close {
    display: block;
  }
}

.modalImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0%;
  margin: 0 auto;
  opacity: 0;
  cursor: pointer;
  transition: all 0.25s;
}

.modalImage.active {
  height: 90vh;
  opacity: 1;
  z-index: 10200;
}