.expansion {
  margin: 1rem 0rem;
  box-shadow: 0px 0px 6px #ddd;

  &__description {
    display: flex;
    flex: 1;
  }

  &__position {
    // margin: 0rem 4rem;
    // min-width: 25rem;
    min-width: 20rem;
  }

  &__application-count {
    margin-left: 4rem;
    color: tomato;
    // min-width: 25rem;
  }

  &__title {
    width: 30%;
    max-width: 25rem;
  }
}



// .jobs-list{
//     &__applicants-count{
//         color: tomato;
//     }
// }

.checkbox {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top:0;
  &__input {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    cursor: pointer;
  }

  &__button {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid tomato;
    border-radius: 3px;
    margin: 0 1rem;
    // transition: all .2s;
    &::before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-size: 2.6rem;
      display: inline-block;
      color: tomato;
      position: absolute;
      top: -0.6rem;
      left: -0.1rem;
      transform: translateY(3px);
      transition: transform 0.2s;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
  }
}


.checkbox__input:checked ~ .checkbox__label .checkbox__button {
  background: #eee;

  &::before {
    content: "\2714";
    transform: translateY(0);
  }
}

table {
  width: 100%;
  box-shadow: 0px 0px 4px #888;
  font-size: 1.5rem;
  margin-top: 2rem;
}

td.mat-row {
  border-bottom-color: #aaa;
}

td.mat-cell {
  border-bottom-color: #aaa;
  color: rgba(0, 0, 0, 0.87);
}

th.mat-sort-header-sorted {
  color: black;
}

.job-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }

  &__action {
    display: flex;
    border: none;
    background-color: #fff;
    color: tomato;
    outline: none;
    padding: 0.5rem 1rem;
    // width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;

    &:active {
      transform: scale(1.02);
    }

    &:disabled {
      color: #888;
    }
  }

  &__action--hover {
    &:hover {
      background-color: #eee;
    }
  }

  &__actions-container {
    position: relative;
    cursor: pointer;
    padding: 1rem 2rem;
    width: auto;
  }

  &__actions {
    position: absolute;
    // top: 70%;
    // right: 30%;
    left: -1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 2px #888;
  }

  &__icon {
    margin-right: 1rem;
    width: 2rem;
    display: flex;
  }
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
  // transition: all .2s;
}
.overlay.active {
  z-index: 1;
  background-color: rgba(black, 0.5);
}
.filter.active{
  background-color: white;

}
.filter {
  display: flex;
  flex-direction: row;
  //align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6.5rem;
  z-index: 2;
  // margin-left: 1.2rem;
  background-color: white;
  padding: 1.8rem 2rem;

  //padding-right: 2rem;
  margin-left: -7rem;
  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 5%;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.7rem;
    left: 1rem;
  }

  &__content {
    min-width: 30rem;
    background-color: white;
    width: 26%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: white;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

// .form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 80%;
// }

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 1rem 1rem;
  align-items: center;
  align-self:center;
  padding: 0rem;
}


.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  color: #666;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}

