.job-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2.5%;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }
}
.sub-container {
  margin-top: 1rem;
  padding: 1rem 0;
}

.content-containerr{
  background-color: #eee;
}
.job-list-container{
  background-color: #eee;
}

.container {
  padding: 2rem;
  margin: 5rem 0rem;
  //border: 1px solid rgba(black, .2);
  border-radius: 5px;
  background-color:#eee;
  height: 100%;
}
.content-container{
  background-color: #eee;
}
.company {
  margin-top: 2rem;
  &__header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .img {
      height: 6rem;
    }

    .name {
      color: #42597b;
      font-size: 2.5rem;
      font-weight: 700;
      margin-left: 2rem;
      text-transform: uppercase;
    }

    .preview {
      position: absolute;
      top: 2.5rem;
      right: 2rem;
      transition: all 0.2s;
      a {
        text-decoration: none;
      }
      &__icon {
        font-size: 2rem;
        color: #333;
      }

      &__text {
        font-size: 1.5rem;
        margin-left: 1rem;
      }

      &:hover {
        cursor: pointer;

        .preview__icon,
        .preview__text {
          color: purple;
        }
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  &__description {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-style: italic;
    color: #777;
    height: 6rem;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      height: 2rem;
      text-align: center;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), #fff 50%);
    }
  }

  &__body {
    margin: 5rem 1rem 0rem;
    .details-group {
      display: flex;
      width: 90%;
      margin: rem auto;
      justify-content: center;

      & > * {
        flex: 1;
      }
    }

    .detail {
      position: relative;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &__label {
        position: absolute;
        top: -1rem;
        left: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #42597b;
        font-style: italic;
        background-color: white;
        padding: 0 0.2rem;
      }

      &__value {
        padding: 1rem;
        overflow-y: auto;
        max-height: 20rem;
        border: 1px solid rgba(black, 0.2);
        border-radius: 3px;

        &__header {
          font-size: 2rem;
          color: rgb(47, 70, 105);
          font-style: bold;
          padding: 0 1rem;
          display: block;
          overflow: hidden;
          font-style: Bold;

          .text {
            color: #888;
            display: inline;
            font-size: 1rem;
            font-style: italic;
          }
        }

        a {
          text-decoration: none;
          color: purple;

          &:hover {
            text-decoration: underline;
          }
        }

        .text {
          font-size: 1.8rem;

          &--noLocation {
            color: #888;
            font-style: italic;
          }
        }
      }
    }
  }
}
.noJob {
  &__text {
    color: rgba(136, 136, 136, 0.8);
    font-size: 3rem;
    font-weight: 600;
  }
}
