<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Locations</h3>
  <div class="fab" title="Add Company Location">
    <button routerLink="../branches/add" class="fab__button">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="sub-module-container__container">
    <div class="noLocation" [class.active]="noLocation">
      <h2 class="noLocation__text">
        No location registered under your company
      </h2>
      <!-- <h4 class="noLocation__text--secondary"></h4> -->
    </div>

    <table
      *ngIf="!noLocation"
      mat-table
      [dataSource]="locations"
      class="mat-elevation-z3"
    >
      <!-- Image Column -->
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Location Image</th>
        <td mat-cell *matCellDef="let location">
          <img
            style="margin: 0.5rem 0; height: 5rem;"
            [src]="
              location.picture ? location.picture : 'assets/img/building.png'
            "
            alt=""
            class="logo"
          />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let location">
          <span [class.headOffice]="location.isHeadOffice">{{ location.locationName }}</span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let location">{{ location.address }}</td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let location">
          {{ location.locationPhoneNumber }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let location">
          <button mat-button [matMenuTriggerFor]="menu">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
            (click)="editLocation(location.id)"
              mat-menu-item
            >
              <fa-icon class="menu-icon" [icon]="faEdit"></fa-icon> Edit
            </button>
            <!-- <button mat-menu-item (click)="confirmDelete(location.id)">
                            <fa-icon class="menu-icon" [icon]="faTimes"></fa-icon> Delete
                        </button> -->
          </mat-menu>

          <!-- <a [routerLink]="['/employer/branches/', location.id]" class="btn-outline">Edit</a> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
