@import "../../../../styles.scss";

.noLocation {
  display: none;

  &.active {
    display: block;
  }
  &__text {
    color: rgba(136, 136, 136, 0.8);
    font-size: 3rem;
    font-weight: 600;
  }
}

.fab {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  text-align: center;

  &__button {
    // display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 4px #555;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 5rem rgba(black, 0.2);
      // transform: translateY(-1px);
      cursor: pointer;
    }
  }
}

table {
  width: 100%;
}

.headOffice {
  color: orangered;
  font-size: 1.5rem;
  font-weight: 600;
}