<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Applicant Job Reported</h3>
  <div class="sub-module-container__container">
    <div *ngIf="reports.length === 0" class="noIssue">
      <h2 class="noIssue__text">No report Submitted</h2>
      <!-- <h4 class="noLocation__text--secondary"></h4> -->
    </div>

    <table
      *ngIf="reports.length > 0"
      style="min-width: 95rem;"
      mat-table
      [dataSource]="reports"
      class="mat-elevation-z4"
    >
      <ng-container matColumnDef="jobTitle">
        <th mat-header-cell *matHeaderCellDef>Job Title</th>
        <td mat-cell *matCellDef="let element">{{ element.job.jobTitle }}</td>
      </ng-container>

      <ng-container matColumnDef="reportType">
        <th mat-header-cell *matHeaderCellDef>Report Type</th>
        <td mat-cell *matCellDef="let element">{{ element.reportType }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Reported By.</th>
        <td mat-cell style="max-width: 35rem;" *matCellDef="let element">
          {{
            element.applicant_profile.user.firstName +
              " " +
              element.applicant_profile.user.lastName
          }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell style="max-width: 35rem;" *matCellDef="let element">
          {{ element.applicant_profile.user.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['detail', element.id]" class="btn-outline">View</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
