@import "../../../../assets/scss/components/buttons";

.btn {
  position: relative;
  border: none;
  font-family: inherit;
  min-width: 10rem;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background-color: #7d1216; /* For browsers that do not support gradients */
  background-image: linear-gradient(120deg, #7d1216, $color-primary);
  border-radius: 5rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  padding: 1rem 4.5rem 1rem 2.5rem;
  
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translate(-50%, -50%);
    width: 1.8rem;
    height: 1.8rem;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s cubic-bezier(0.29, 0.65, 0.38, 0.72) infinite;
  }
}

.disabled {
  background: white;
  color: grey;
  border: 2px solid grey;
  cursor: progress;
  pointer-events: none;
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
