.notification {
  position: fixed;
  font-size: 1.8rem;
  top: 8rem;
  right: 0;
  padding: 2.5rem 2rem;
  background-color: rgba(white, 0.9);
  border: 1px solid rgba(black, 0.2);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.5);
  z-index: 9999999999;
  cursor: pointer;
  transform: translateX(105%);

  &--success {
    border-left: 3px solid #e1a223;
  }

  &--error {
    border-left: 3px solid red;
  }
}

.notification.active {
  animation-name: slideAndStay;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes slideAndStay {
  0% {
    transform: translateX(105%);
  }
  20% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
.form-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid rgba(black, 0.5);
  border-radius: 5px;
}

.form__header {
  font-size: 2rem;
  color: #aaa;
  margin: 1rem 0;
  text-transform: capitalize;
}

.form {
  margin: 1rem 0;

  &__group {
    display: flex;

    & > * {
      flex: 1;
    }

    &--selects {
      margin-top: 1rem;
    }

    .disabled {
      color: #555;
      background: white;
      border: 2px solid #555;
    }
  }
}
