<div class="modal__container" [class.modal__show]="isModalOpen">
  <div class="modal">
    <div class="modal__header">
      Add A New Business License
    </div>
    <form class="modal__form" action="#" (ngSubmit)="onSubmit()">
      <div class="modal__content">
        <shared-custom-file-input
          style="width:100%"
          name="businessLicense"
          [formGroup]="updateBusinessLicenseForm"
          defaultValue=""
          placeholder="New Business License"
          label="New Business License"
          [input]="updateBusinessLicenseForm.controls['businessLicense']"
          type="file"
          [submitted]="false"
          [disabled]="false"
          [accept]="businessLicenseFileTypes"
          (onValueChange)="fileChanged($event, 'businessLicense')"
        ></shared-custom-file-input>
      </div>
      <div class="modal__footer">
        <button (click)="closeModal()" class="modal__btn modal__btn--cancle">
          Cancel
        </button>
        <!-- <button type="submit" class="modal__btn modal__btn--submit">
          Submit
        </button> -->
        <app-custom-submit-button [styleObject]="{btn: {borderRadius: '5px'}}"
        [loading]="loading" text="Submit"></app-custom-submit-button>
      </div>
    </form>
    <div class="modal__close-btn-container">
      <button (click)="closeModal()" class="modal__btn modal__btn--close">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
</div>
