.modal {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  width: 40rem;
  height: 35rem;

  &__show {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.5);
    // padding: 20rem 30rem;
    z-index: 11000;
    transform: translateY(200%);
    opacity: 0;
    transition: 0.5s all;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    width: 100%;
    padding: 2rem;
    background-color: tomato;
    background-image: linear-gradient(120deg, #7d1216, #ce2127);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    width: 100%;
    padding: 2rem;
    // background-color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #ddd;
  }

  &__close-btn-container {
    position: absolute;
    right: -1.8rem;
    top: -1.8rem;
  }

  // &__image-contianer{

  // }

  &__image {
    height: 12rem;
    max-width: 20rem;
  }

  &__btn {
    border: none;
    border-radius: 5px;
    padding: 1rem 3rem;
    text-transform: uppercase;
    margin: 1rem;
    font-size: 1.4rem;
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }

    &--cancle {
      background-color: #fff;
      color: tomato;
      border: 1px solid tomato;
    }

    &--submit {
      background-color: tomato;
      background-image: linear-gradient(120deg, #7d1216, #ce2127);
      color: #fff;
    }

    &--close {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      padding: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 2.5rem;
      color: #888;
      background-color: #fff;
      border: 1px solid #888;
    }
  }
}
