.sub-container {
  display: flex !important;
  width: 90%;
  // max-width: 60rem;
  justify-content: flex-end;
  margin: 0 auto;
}

.sub-module-container__heading {
  margin-top: 2.5rem;
  display: flex;
  align-content: flex-end;
}
