<div class="sub-module-container">
  <!-- <h3 class="sub-module-container__heading">Filtered Candidates</h3> -->
  <div class="sub-module-container__container">
    <app-filtered-candidates-list
      [jobs]="rows"
      [pager]="pager"
    ></app-filtered-candidates-list>
  </div>
</div>
