$container-size: 3.5rem;
$check-height: $container-size/2;
$check-width: $check-height/2;
$success-color: #50e83e;
$error-color: #ff0000;
$info-color: rgb(9, 190, 190);

.notification {
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translate(-40%, 200%);
    opacity: 0;
    visibility: hidden;
    padding: 2rem 2rem;
    background-color: #333;
    border: 1px solid rgba(white, 0.2);
    border-right: none;
    border-radius: 5px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
    z-index: 9999999999;
    cursor: pointer;

    &__body {
        display: flex;
        align-items: center;
    }
    
    .icon-container {
        position: relative;
        width: $container-size;
        height: $container-size; 
        border-radius: 50%;
        margin-right: 1.5rem;
        
        &--success {
          border: 2px solid $success-color;
        }

        &--info {
          border: 2px solid $info-color;
        }

        &--error {
          border: 2px solid $error-color;
        }
    }

    &__icon {
        display: inline; 
        margin-right: 1rem; 
        font-size: 2rem; 
    }
    
    .text {
        font-size: 1.8rem;
        color: white;
        white-space: nowrap;
        text-transform: capitalize;
    }
  }
  
.notification.active {
  animation-name: popOut;
  animation-duration: 4.5s;

  .checkmark {
    position: absolute;
    top: 1.65rem;
    left: 0.675rem;
    height: $check-height;
    width: $check-width;
    opacity: 0;
    transform-origin: left top;
    border-right: 3px solid $success-color;
    border-top: 3px solid $success-color;
    border-top-right-radius: 3px;
    animation-duration: 4.5s;
    animation-timing-function: ease;
    animation-name: checkmark;
    animation-delay: .45s;
    transform: scaleX(-1) rotate(135deg);
  }

  .timesmark {
    animation-duration: 4.5s;
    animation-timing-function: ease;
    animation-name: cross-left;
    animation-delay: .45s;
    top: 0.7rem;
    left: 1.3rem;
    transform: rotate(135deg);
    
    &::before {
      content: '';
      transform: rotate(90deg);
      animation-duration: 4.5s;
      animation-timing-function: ease;
      animation-name: cross-right;
      animation-delay: .6s;
    }
    
    &, &::before {
      position: absolute;
      width: 3px;
      height: 0;
      background-color: $error-color;
      display: inline-block;
      opacity: 0;
    }
  }
}
