.custom-datepicker {
  width: 100%;
  position: relative;
  display: inline-block;
  user-select: none;
  padding: 0 1rem;
  // padding: 0;

  &__hide {
    display: none;
    // height: 0px;
  }

  &__label {
    opacity: 0;
    transform: translateY(-2.5rem);
    font-size: 1.2rem;
    display: block;
    transition: all 0.2s;
    color: #555;
    height: 2rem;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.6rem;
    color: #888;
    cursor: pointer;
  }

  &__input {
    width: inherit;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid rgba(247, 78, 27, 0.8);
    // box-shadow: 0px 0px 2px rgba(247, 78, 27, 0.5);
    font-size: 1.6rem;
    // color: rgb(247, 78, 27);
    color: #555;
    background-color: #fff;
    // text-align: center;
    cursor: pointer;

    &:disabled {
      background-color: #eee;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label {
      transform: translateY(-5rem);
      opacity: 1;
    }
  }

  &__dates {
    // border: 2px solid rgba(247, 78, 27, 0.212);
    padding-top: 1rem;
    box-shadow: 0px 1px 4px rgba(247, 78, 27, 0.5);
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    height: auto;
    margin-top: -2rem;
  }

  &__month-container,
  &__year-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.7rem;
    align-items: center;
    font-size: 1.4rem;
    background-color: #fff;
    color: rgb(247, 78, 27);
    border-bottom: 0.5px solid rgba(247, 78, 27, 0.212);
  }

  &__days-container {
    // height: 15rem;
    // width: 21rem;
    width: 100%;
  }

  &__arrow {
    font-size: 1.5rem;
    border: none;
    outline: none;
    // color: rgba(247, 78, 27);
    color: #888;
    background-color: #fff;
    transition: 0.2s;
    cursor: pointer;

    &:active {
      transform: scale(1.2);
    }

    &--forward {
      margin: 0rem 1rem;
    }

    // &--left{

    // }

    // &--right{

    // }
  }

  &__day {
    padding: 1rem;
    width: 14%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1rem;
    border: 0.5px solid #fff;
    color: #000;

    &:hover {
      border: 0.5px solid rgba(247, 78, 27);
      border-radius: 2rem;
    }

    &--active {
      border: 2px solid #fff;
      background-color: rgba(247, 78, 27);
      color: #fff;
      border-radius: 2rem;
    }

    &--disabled {
      color: #888;
      &:hover {
        border: none;
      }
    }
  }

  &__week {
    display: flex;
    flex-wrap: wrap;
  }

  &__month,
  &__year {
    margin: 0rem 0.8rem;
  }

  &__all-week-days {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__week-day {
    width: 14%;
    padding: 1rem;
    height: 3rem;
  }

  &__year-month-container {
    display: flex;
    justify-content: space-between;
  }
}
