<div class="sub-module-container">
  <!-- <h3 class="sub-module-container__heading"></h3> -->
  <div class="sub-module-container__container container">
    <!-- <h3 class="sub-module-container__container_heading">Saved Jobs</h3> -->
    <div class="noApplication" *ngIf="jobs && jobs.length == 0">
      <h3 class="noApplication__text">You have not saved any jobs yet</h3>
      <!-- <h4 class="noLocation__text--secondary"></h4> -->
    </div>
    <div class="overlay" [class.active]="!filterHidden"></div>

    <div class="filter" [class.active]="!filterHidden">
      <h3 class="filter__heading">Saved Jobs</h3>
      <div (click)="toggleFilter($event)" class="filter__header">
        <fa-icon class="filter__icon" [icon]="faSlidersH"></fa-icon>Filter
      </div>
      <div class="filter__content" [class.filter__hide]="filterHidden">
        <form
          action="#"
          (ngSubmit)="filterJobs()"
          class="form"
          [formGroup]="searchForm"
          autocomplete="off"
        >
          <div class="sub-container">
            <shared-custom-input-field
              class="input-element-type-2"
              [formGroup]="searchForm"
              name="jobtitle"
              defaultValue=""
              label="Job"
              placeholder="Search by Job Title"
              [input]="searchForm.controls['jobtitle']"
              type="text"
              [submitted]="false"
              [disabled]="false"
              [styleObject]="styleObject"
              [limit] ="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <div class="sub-container">
            <shared-custom-input-field
              class="input-element-type-2"
              [formGroup]="searchForm"
              name="industry"
              defaultValue=""
              label="Industry"
              placeholder="Search By industry"
              [input]="searchForm.controls['industry']"
              type="text"
              [submitted]="false"
              [disabled]="false"
              [styleObject]="styleObject"
              [limit] ="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <div class="sub-container">
            <shared-custom-input-field
              class="input-element-type-2"
              [formGroup]="searchForm"
              name="companyName"
              defaultValue=""
              label="Company"
              placeholder="Search by Company"
              [input]="searchForm.controls['companyName']"
              type="text"
              [submitted]="false"
              [disabled]="false"
              [styleObject]="styleObject"
              [limit] ="defaultLimit"
            >
            </shared-custom-input-field>
          </div>
          <div class="form__group--btn">
            <input
              type="submit"
              value="Search"
              class="form__submit th-btn th-btn--primary"
            />
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="jobs && jobs.length > 0">
      <!-- <table mat-table [dataSource]="jobs" class="mat-elevation-z3">
        <ng-container matColumnDef="companyLogo">
          <th mat-header-cell *matHeaderCellDef>Company logo</th>
          <td mat-cell *matCellDef="let job">
            <img
              style="margin: 0.5rem 0; height: 5rem;"
              [src]="job.companyLogo"
              alt=""
              class="logo"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="jobName">
          <th mat-header-cell *matHeaderCellDef>Job title</th>
          <td mat-cell *matCellDef="let job">{{ job.jobTitle }}</td>
        </ng-container>

        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Company Name</th>
          <td mat-cell *matCellDef="let job">{{ job.companyName }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let job">
            
            <a [routerLink]="['/applicant/bookmarks/details', job.id]" class="btn-outline">View</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->
    
      <div *ngFor="let job of jobs" class="job">
        <div class="job__left">
          <div class="img-container">
            <img [src]="job.companyLogo ? job.companyLogo : 'assets/img/building.png'" alt="" class="img">
          </div>
          
          <div class="details-container">
            <h3 class="job__title">{{ job.jobTitle }}</h3>
            <div class="job__tags">
              <span class="tag">
                <fa-icon class="icon" [icon]="faToolbox"></fa-icon> {{ job.industry }}
              </span>
              <!-- <span class="tag">
                <fa-icon class="icon" [icon]="faMarkerAlt"></fa-icon> {{ job.cityName }}
              </span> -->
              <span class="tag">
                <fa-icon class="icon" [icon]="faClock"></fa-icon> {{ job.employmentType }}
              </span>
            </div>

          </div>
        </div>
        <div class="job__right">
          <div title="Remove this job" class="heart-container" (click)="unbookmark(job.id)">
            <i class="icon far fa-heart"></i>
          </div>
          <a [routerLink]="['/applicant/bookmarks/details', job.id]" class="btn-outline view-btn">View</a>
        </div>
      </div>
    </div>

    <mat-paginator *ngIf="jobs && jobs.length > 0"
      class="paginator"
      [length]="pager?.totalItems"
      [pageSize]="pager?.pageSize"
      [pageSizeOptions]="[5, 8, 10, 25, 100]"
      (page)="getServerData($event)">
  </mat-paginator>
  <app-custom-notification [show]="deleted" type="error" text="Job removed from bookmarks"></app-custom-notification>
  </div>
</div>
