$container-size: 3.5rem;
$check-height: $container-size/2;
$check-width: $check-height/2;
$success-color: #50e83e;
$error-color: #ff0000;

@import "assets/scss/base/reset";
@import "assets/scss/abstracts/variables";
@import "assets/scss/base/typography";
@import "assets/scss/components/buttons";
@import "assets/scss/components/inputs";
@import "assets/scss/layouts/grid";
@import "assets/scss/layouts/container";
// @import "assets/scss/layouts/header";
@import "assets/scss/layouts/footer";
// @import 'assets/scss/pages';
// @import 'assets/scss/utils';

// .th-section{
//     width: 100%;
// }

.sub-module-container {
  padding: 1rem;
  &__heading {
    font-size: 2rem;
    text-transform: uppercase;
    color: #888;
  }

  &__container {
    padding: 2rem 0.5rem;
  }
}

// Added by Material
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-menu-content {
  padding: 0 !important;
}

.menu-icon {
  margin-right: 1rem;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes popOut {
  0% {
    transform: translate(-40%, 200%);
    visibility: hidden;
  }
  10% {
    transform: translate(-40%, 0%);
    opacity: 1;
    visibility: visible;
  }
  85% {
      transform: translate(-40%, 0%);
      opacity: 1;
      visibility: visible;
    }
  100% {
    transform: translate(-40%, 200%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  2% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  5% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

@keyframes cross-left {
  0% {
    opacity: 0;
    height: 0;
  }

  2% {
    opacity: 1;
    height: $check-height;
  }

  100% {
    opacity: 1;
    height: $check-height;
  }
}

@keyframes cross-right {
  0% {
    opacity: 0;
    height: 0;
  }

  2% {
    opacity: 1;
    height: $check-height;
  }

  100% {
    opacity: 1;
    height: $check-height;
  }
}