<div *ngIf="job" class="container" [class.lowered]="lower">
  <div class="details">
    <div class="details-left">
      <div class="details-left__header">
        <img [src]="job.company_profile.companyLogo ? job.company_profile.companyLogo : 'assets/img/building.png'" alt="" class="img" />
        <div class="header-content">
          <h2 class="title">{{ job.jobTitle }}</h2>
          <span class="companyName text">
            {{ job.company_profile.companyName }}
          </span>
          <span class="verified text">
            <fa-icon style="color: #3F7F9B; font-size: 1.2rem;" [icon]="faCheckCircle"></fa-icon>
            Verified
          </span>
        </div>
      </div>

      <div class="details-left__body">
        <div class="location">
          <fa-icon style="color: #71171C; font-size: 2rem; margin-right: .8rem;" [icon]="faMapMarkerAlt"></fa-icon>
          <span class="text">{{ job.location?.city.cityName +", "+job.location?.region.regionName }}</span>
        </div>
        <div class="overflow__gradient">
          <p class="description">
            {{ job.jobDescription }}
          </p>
        </div>
      </div>

      <div class="details-left__bottom">
        <div class="sal-tags">
          <div *ngIf="applicant" class="salary text">
            Salary range: {{ job.salaryRange }}
          </div>
          <div *ngIf="!applicant" class="noSalary text">
            Login as applicant to see this job's salary range
          </div>
          <div class="tags-container">
            <!-- <span style="display: flex; align-items: center;" class="text">
              <fa-icon style="color: #42597B; font-size: 2.5rem; margin-right: .5rem;" [icon]="faTag"></fa-icon>
              Tags
            </span> -->
            <div class="tags">
              <span class="tags__item"><fa-icon class="icon" [icon]="faToolbox"></fa-icon> {{ job.industry }}</span>
              <span class="tags__item"><fa-icon class="icon" [icon]="faClock"></fa-icon> {{ job.employmentType }}</span>
              <div *ngIf="job.pwd" class="tags__item">
                <i style="margin-right: .5rem; color: #d64e4e;" class="fab fa-accessible-icon"></i>PwD-Friendly
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="img-container">
                    <img src="https://th-employer-logo.s3.us-west-2.amazonaws.com/1573720083961company-logo.jpeg" alt="@" class="image">
                </div> -->
      </div>
    </div>

    <div class="details-right">
      <div class="map">
        <div style="height: 100%;" leaflet [leafletOptions]="options">
          <div *ngIf="marker" [leafletLayer]="marker"></div>
        </div>
      </div>

      <div class="dates-container text">
        <span class="start">Posted {{ job.applicationStartDate | dateAgo }}</span>
        <span *ngIf="job.applied" class="start">Applied date: {{ job.appliedDate | date: "longDate" }}</span>
        <span class="expiry">Ends at {{ job.applicationEndDate | date: "longDate" }}</span>
      </div>

      <div class="vacancy text">
        <span>Number of positions: {{ job.vacancies }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="!job.applied && (userRole === 'APPLICANT' || userRole === '')" class="btn-group">
    <button (click)="bookmarkJob(job.id)" [class.bookmark--saved]="bookmarked" class="bookmark">
      <span class="bookmark__text">
        {{ bookmarked ? 'SAVED' : 'SAVE JOB' }}
      </span>
      <i class="bookmark__icon far fa-heart"></i>
    </button>
    
    <button *ngIf="!job.applied" (click)="apply(job.id)" class="apply th-btn th-btn--primary">
      MAG-APPLY
    </button>
    
  </div>
  
  <!-- If already applied, show this button -->
  <button *ngIf="job.applied" class="applied th-btn">
    Already Applied
  </button>
  
  <!-- <div *ngIf="job.applied || !(userRole === 'APPLICANT' || userRole === '')" class="btn-group">
    <button type="button" (click)="goBack()" class="cancel" mat-button>
      Back
    </button>
  </div> -->
  <div style="display: flex; justify-content: space-between;">
    <button (click)="goBack()" mat-button class="back">Back</button>
    <a [routerLink]="['/applicant/jobs/report/', job.id]" class="reports" href="">Report this job
      <fa-icon style="color: #42597B; font-size: 1.5rem; margin-right: .5rem;" [icon]="faExternalLinkAlt"></fa-icon>
    </a>
  </div>

  <landing-custom-notification [show]="showModal" type="success" 
    callback="applicant/applications" text="Application Submitted Successfully">
  </landing-custom-notification>
</div>