.lowered {
  margin-top: 8rem;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 0 2rem;
  position: relative;

  .btn-group {
    display: flex;
    flex-direction: column;
    margin: 1.8rem 0 0;

    .bookmark {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #777;
      background-color: transparent;
      border: none;
      height: 4rem;
      outline: none;
      border: 1px solid;
      border-radius: 5px;
      padding: 0 6rem;
      transition: all .3s;
      cursor: pointer;

      &--saved {
        color: #aa111d;
        .bookmark__icon {
          font-weight: 600;
        }
      }
    }

    .save {
      font-size: small;
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        background-color: #ce2127;
        color: white;
      }
    }

    .apply {
      width: 100%;
      margin-top: 1rem;
      border-radius: 5px;
      font-size: small;
    }

    .saved {
      margin-top: 1rem;
      font-size: small;
      font-weight: bold;
      text-transform: uppercase;
      background-image: linear-gradient(
        155deg,
        white 0%,
        white 50%,
        rgba(211, 211, 211, 0.8)
      );
      // background-color: rgba(128, 128, 128, .5);
      // color: #888;
      border: 1px solid rgba(black, 0.3);
      cursor: pointer;

      &:hover {
        color: tomato;
      }
    }
  }
}

.applied {
  text-transform: capitalize;
  border-radius: 0;
  white-space: nowrap;
  width: 18rem;
  position: relative;
  margin: 1.5rem auto;
  border:none;
  color: #888;
  
  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2rem solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: white;
  }

  &::after {
    right: 0;
    border-right-color: white;
  }
}

.reports {
  color: #42597b;
  white-space: nowrap;
  font-size: 2rem;
  padding-right: 0rem;
  text-decoration: none;
  margin: 1.5rem 0;

  &:hover, &:active {
    text-decoration: underline;
  }
}

.details {
  display: flex;
  flex-direction: column;

  .text {
    color: black;
    font-size: 1.5rem;
  }

  &-left {
    padding: 1rem 2rem;

    &__header {
      display: flex;
      margin-bottom: 1.5rem;

      .img {
        max-width: 150px;
        height: 10rem;
      }

      .header-content {
        margin: 1rem 2rem;
      }

      .title {
        font-size: 2.2rem;
        color: #42597b;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0.8rem;
      }

      .companyName {
        font-weight: 400;
        font-size: 2rem;
        color: dimgray;
        font-style: italic;
      }

      .verified {
        color: rgb(125, 125, 125);
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-left: 1.5rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    &__body {
      margin-bottom: 1.5rem;

      .location {
        display: flex;
        align-items: center;
        color: #5f5f5f;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        .text {
          font-style: italic;
          text-transform: capitalize;
          font-size: 1.8rem;
        }
      }

      .overflow__gradient {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 98%; // to avoid the scroll bar
          height: 30px;
          background: linear-gradient(rgba(255, 255, 255, 0.15), white);
          pointer-events: none;
        }
      }

      .description {
        font-size: 2.1rem;
        max-height: 40rem;
        overflow-y: auto;
        padding: 0 2rem 2rem 0;
        font-weight: 300;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 1rem;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

      .sal-tags {
        display: flex;
        flex-direction: column;
      }

      .salary {
        font-weight: 400;
        margin-bottom: 1rem;
      }

      .noSalary {
        color: #5f5f5f;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 600;
      }

      .tags-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-left: 1.5rem;
        }

        .tags__item {
          font-size: 1.3rem;
          color: #42597b;
          font-weight: 700;
          background-color: white;
          // border: 1px solid #42597b;
          padding: 0.5rem 1.5rem;
          border-radius: 1.5rem;
          text-transform: uppercase;
          margin: 3px 0.3rem;
          white-space: nowrap;

          .icon {
            color: #d64e4e;
            font-size-adjust: 1.5rem;
            margin-right: .5rem;
          }
        }
      }

      // .img-container {
      //     display: flex;
      //     flex: 1;
      //     justify-content: center;

      //     .image {
      //         height: 7rem;
      //     }
      // }
    }
  }

  &-right {
    display: flex;
    flex-direction: column-reverse;

    .map {
      height: 25rem;
      border: 1px solid rgba(black, 0.3);
      border-radius: 3px;
      overflow: hidden;
    }

    .vacancy {
      text-align: center;
      margin-bottom: 0.8rem;
      font-weight: bold;
    }

    .dates-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 2rem;
      color: #42597b;
      font-weight: 600;
      
      .expiry {
        color: red;
      }
    }
  }
}

@media only screen and (min-width: 400px) {
  .details {
    &-right {
      .dates-container {
        flex-direction: row;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    // padding: 0;
    padding: 1rem 3rem;
    position: relative;

    .btn-group {
      flex-direction: row;
      width: 60%;
      padding: 2rem;
      justify-content: space-evenly;
      margin: 0;

      .save {
        width: 45%;
      }

      .apply {
        width: 45%;
        margin-top: 0;
      }

      .applied {
        width: 45%;
        margin-top: 0;
      }
    }
  }
  .back {
    display: none;
  }
  .reports {
    padding-left: 2rem;
    color: #42597b;
    white-space: nowrap;
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    right: 2rem;
    font-weight: 300;
  }

  .details {
    flex-direction: row;
    justify-content: space-between;

    &-left {
      width: 60%;

      .tags-container {
        justify-content: flex-start;
      }
    }

    &-right {
      width: 35%;
      flex-direction: column;

      .map {
        height: 30rem;
        margin-bottom: 1.5rem;
        margin-top: 5rem;
        // border-top: none;
        // border-right: none;
        // border-top-left-radius: 0;
      }

      .dates-container {
        flex-direction: column;
        // align-items: center;
        span {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
