.job-list {
  &__pagination {
    // width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2.5%;
  }

  &__pagination-element {
    padding: 0.5rem 2.5rem;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5;
    font-weight: 700;
    margin: 0px 3px;
    text-decoration: none;
    color: #333;

    &:active {
      text-decoration: none;
    }
    &--active {
      border: 1px solid tomato;
    }
  }

  &__hide {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}

.overlay.active {
  z-index: 1;
  background-color: rgba(black, 0.5);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 5.5rem;
  left: 0;
  z-index: 2;
  // margin-left: 1.2rem;
  background-color: #ddd;
  padding: 1rem;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__content {
    background-color: #ddd;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 5.5rem;
    right: 1rem;
    border-radius: 3px;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: #ddd;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}

// .filter.active .filter__header {

// }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;

  &__group {
    display: inline-flex;
    flex: 1 1 auto;
    position: relative;
    border: 1px solid #888;
    // border-radius: 5px;
    margin: 0 1rem 2rem;
    height: 15%;
    width: 54%;
  }

  &__input {
    border: 0;
    padding: 0.6rem 0.5rem;
    flex: 1;
    // line-height: 2;
    font-size: 1.5rem;
    width: 3rem;
  }

  .options {
    position: absolute;
    z-index: 5;
    // margin-top: -.8rem;
    top: 4.5rem;
    left: 0;
    border: 1px solid rgba(85, 85, 85, 0.5);
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &__list {
      list-style: none;
      font-size: 1.8rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
      transition: all 0.2s;

      &:hover,
      &:active {
        background-color: #ddd;
      }
    }
  }

  &__submit {
    width: 100%;
    border: none;
    padding: 0 2rem;
  }
}

.checkbox {
  display: flex;

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    cursor: pointer;
  }

  &__button {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    border: 2px solid tomato;
    border-radius: 3px;
    margin: 0 1rem;
    // transition: all .2s;
    &::before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-size: 2.6rem;
      display: inline-block;
      color: tomato;
      position: absolute;
      top: -0.6rem;
      left: -0.1rem;
      transform: translateY(3px);
      transition: transform 0.2s;
    }
  }

  &__text {
    font-size: 1.8rem;
    color: #333;
    font-weight: 400;
  }
}

.checkbox__input:checked ~ .checkbox__label .checkbox__button {
  background: #eee;

  &::before {
    content: "\2714";
    transform: translateY(0);
  }
}

// .job-list-container{
//     // margin-top: 6.5rem;
//     // padding: 2rem;
// }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: tomato;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

.loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hide-loader {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 2rem 0rem;
}

.sub-container {
  display: flex !important;
  width: 90%;
  // max-width: 60rem;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.input-element-type {
  &-1 {
    width: 100%;
  }

  &-2 {
    width: 100%;
  }

  &-3 {
    width: 100%;
    margin: 1rem 0rem;
  }

  &-4 {
    width: 100%;
  }
}

.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 3rem;
  color: #555;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 500px) {
  .input-element-type {
    &-1 {
      width: 50%;
    }

    &-3 {
      margin: 0rem;
      width: 33.3%;
    }

    &-4 {
      width: 33.3%;
    }
  }

  .sub-container {
    flex-direction: row;
  }

  .filter {
    &__content {
      width: 50%;
    }
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
