<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Admin Staff List</h3>

  <div class="sub-module-container__container job">
    <div *ngIf="staffs.length === 0" class="noStaffs">
      <h2 class="noStaffs__text">No Staffs registered</h2>
      <!-- <h4 class="noLocation__text--secondary"></h4> -->
    </div>

    <table
      *ngIf="staffs && staffs.length > 0"
      mat-table
      [dataSource]="staffs"
      class="mat-elevation-z3"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let staffs">{{ staffs.firstName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let staffs">{{ staffs.lastName }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let staffs">{{ staffs.email }}</td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let staffs">{{ staffs.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let staffs">
          <div *ngIf="staffs.active" class="tag tag--verified">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
          </div>
          <div *ngIf="!staffs.active" class="tag tag--unverified">
            <fa-icon [icon]="faTimesCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let staffs">
          <button mat-button [matMenuTriggerFor]="menu">
            <fa-icon style="color: tomato" [icon]="faEllipsisV"></fa-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item [routerLink]="['details/', applicant.id]">
                                <fa-icon class="menu-icon" [icon]="faArrowCircleRight"></fa-icon> Details
                            </button> -->
            <button (click)="activateUser(staffs.id)" mat-menu-item>
              <fa-icon class="menu-icon"></fa-icon
              >{{ staffs.active ? "Deactivate" : "Activate" }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div *ngIf="staffs && staffs.length > 0" class="paginator">
      <mat-paginator
        [length]="pager?.totalItems"
        [pageSize]="pager?.pageSize"
        [pageSizeOptions]="[5, 8, 10, 25, 100]"
        (page)="getServerData($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div class="fab" title="Add new applicant">
  <button routerLink="add" class="fab__button">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
