.fab {
  position: absolute;
  bottom: 3rem;
  right: 2.5rem;
  text-align: center;

  &__button {
    // display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2rem;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 4px #555;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0 5rem rgba(black, 0.2);
      // transform: translateY(-1px);
      cursor: pointer;
    }
  }
}

table {
  width: 100%;
  margin-top: 2rem;
}

.overlay {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  // transition: all .2s;
}
.overlay.active {
  z-index: 5;
  background-color: rgba(black, 0.5);
}

.tag {
  display: inline-block;
  font-size: 2rem;
  // font-weight: 700;

  &:not(:first-child) {
    margin: 0 0.5rem;
  }
  &--verified {
    color: rgba(green, 0.7);
  }

  &--unverified {
    color: rgb(179, 7, 7);
    font-size: 1.8rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}


.filter.active{
  z-index: 5;
  background-color: white;
  // height: 10rem;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 6rem;
  position: fixed;
  left: 0;
  z-index: 2;
  padding: 1.8rem 2rem;

  background-color: white;

  justify-content: flex-end;

  &__header {
    color: #555;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__heading {
    color: #888;
    margin: 0 6rem;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
  }

  &__content {
    background-color: white;
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-height: 30rem;
    transition: 0.3s all;
    overflow: visible;
    height: auto;
    position: absolute;
    top: 7rem;
    right: 1rem;
    border-radius: 3px;

    padding: 2rem 0;
    //color: #555;

    &::before {
      content: "";
      position: absolute;
      top: -1.6rem;
      right: 2rem;
      border: 8px solid transparent;
      border-bottom-color: #ddd;
    }
  }

  &__icon {
    margin-right: 1.5rem;
  }

  &__hide {
    max-height: 0rem;
    display: none;
    // position: fixed;
    // overflow: visible;
  }
}
.not_Found {
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  margin: 5rem 1rem;
  color: #666;
  padding: 3rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 0 10px 55px rgba(255, 255, 255, 0.1);
}
