<div class="container">

  <div class="form-container">
    <div class="form-container__header">
      <h3 class="header-text">Add your company's Location</h3>
    </div>

    <div class="form-container__body">
      <form
        action="#"
        [formGroup]="locationForm"
        method="POST"
        enctype="multipart/form-data"
        class="form"
        (ngSubmit)="onSubmit()"
      >
        <div *ngIf="error" class="form__error">{{ error | uppercase }}</div>

        <div class="form__group">
          <shared-custom-input-field
            defaultValue=""
            placeholder="Branch Name"
            label="Branch Name"
            [input]="locationForm.controls['locationName']"
            [submitted]="submitted"
            type="text"
            name="locationName"
            [formGroup]="locationForm"
            [limit] ="defaultLimit"
          >
          </shared-custom-input-field>
        </div>

        <div class="form__group">
          <shared-custom-input-field
            defaultValue=""
            placeholder="Email"
            label="Email"
            [input]="locationForm.controls['email']"
            [submitted]="submitted"
            type="email"
            name="email"
            [formGroup]="locationForm"
            [limit] ="defaultLimit"
          >
          </shared-custom-input-field>
        </div>

        <div class="form__group form__group--double">
          <shared-custom-input-field
            defaultValue=""
            placeholder="Branch Phone Number"
            label="Branch Phone Number"
            [input]="locationForm.controls['locationPhoneNumber']"
            [submitted]="submitted"
            type="tel"
            name="locationPhoneNumber"
            [formGroup]="locationForm"
            [limit] ="numberRange"
          >
          </shared-custom-input-field>

          <shared-custom-input-field
            defaultValue=""
            placeholder="Address"
            label="Address"
            [input]="locationForm.controls['address']"
            [submitted]="submitted"
            type="address"
            name="address"
            [formGroup]="locationForm"
            [limit] ="defaultLimit"
          >
          </shared-custom-input-field>
        </div>

        <div class="form__group form__group--double">
          <shared-custom-file-input
            placeholder="Location Picture"
            defaultValue=""
            label="Location Picture"
            [input]="locationForm.controls['picture']"
            [submitted]="submitted"
            type="file"
            accept=".png,.jpg,.jpeg"
            name="picture"
            [formGroup]="locationForm"
            (onValueChange)="fileChanged($event, 'picture')"
          >
          </shared-custom-file-input>

          <shared-custom-select
            style="margin-bottom: -.5rem"
            defaultValue="Philippines"
            label="Country"
            [valid]="locationForm.controls['countryId']?.status"
            (onValueChange)="selectChanged($event, 'countryId')"
            name="countryId"
            [styleObject]="selectStyle"
            class="input-element-type-3"
            placeholder="Select Country"
            [options]="countries"
            [submitted]="submitted"
          >
          </shared-custom-select>
        </div>

        <div class="form__group form__group--double">
          <shared-custom-select
            defalutValue=""
            label="Region"
            [valid]="locationForm.controls['regionId']?.status"
            (onValueChange)="selectChanged($event, 'regionId'); citySelect.resetValue();"
            name="regionId"
            [styleObject]="selectStyle"
            class="input-element-type-3"
            placeholder="Select Region"
            [options]="regions"
            [submitted]="submitted"
          >
          </shared-custom-select>

          <shared-custom-select
            defalutValue=""
            label="City"
            [valid]="locationForm.controls['cityId']?.status"
            (onValueChange)="selectChanged($event, 'cityId')"
            name="cityId"
            [styleObject]="selectStyle"
            class="input-element-type-3"
            placeholder="Select City"
            [options]="cities"
            [submitted]="submitted"
            #citySelect
          >
          </shared-custom-select>
        </div>

        <div class="form__group">
          <div class="checkbox">
            <input
              type="checkbox"
              formControlName="isHeadOffice"
              name="isHeadOffice"
              id="headOffice"
              class="checkbox__input"
              [checked]="!hasLocations"
            />
            <label for="headOffice" class="checkbox__label">
              <div class="checkbox__button"></div>
              <span class="checkbox__text">Head office?</span>
            </label>
          </div>
        </div>

        <!-- Form submit button -->
        <div class="form__group">
          <app-custom-submit-button class="form__submit" [styleObject]="{btn: {width: '100%', borderRadius: '5px'}}" 
            [loading]="loading" text="Submit" >
          </app-custom-submit-button>
        </div>
      </form>
      <app-custom-notification [show]="locationAdded" type="success"
        text="Company Location Added Successfully" callback="goBack">
      </app-custom-notification>
      <app-custom-notification [show]="locationError" type="error"
        text="Find Your Location On the Map">
      </app-custom-notification>
    </div>
  </div>

  <div class="map-container">
    <div *ngIf="showMap" style="height: 100%;" leaflet [leafletOptions]="options" (leafletClick)="mapClicked($event)">
      <div *ngIf="locationTracked" [leafletLayer]="marker"></div>
    </div>
  </div>
  <app-shared-confirm-model [isModalOpen]="toggleConfirmModal" headerText="Head Branch Already Exists"
    bodyText="There is a head branch already listed to this company. Are you sure you want to make this location a head branch?"
    (confirmed)="confirmAction()" (cancled)="cancelAction()"></app-shared-confirm-model>
</div>
