<div class="sub-module-container">
  <h3 class="sub-module-container__heading">Applicant Detail</h3>
  <div class="sub-module-container__container">
    <div class="applicant-detail__top">
      <div class="applicnat-detail__image-container">
        <img [src]="applicant?.applicantPicture" alt="Profile Picture" class="applicant-detail__image" />
      </div>
      <div class="applicant-detail__infos">
        <div class="applicant-detail__info-contain-1">
          <div class="applicant-detail__name">
            {{ applicant?.user?.firstName + ' ' + applicant?.user?.lastName }}
          </div>
        </div>
        <div class="applicant-detail__info-contain-2">
          <!-- <div class="applicant-detail__email">EMAIL : {{applicant?.user?.email}}</div> -->
          <!-- <div class="applicant-detail__phone">PHONE NUMBER : {{applicant?.user?.phoneNumber}}</div> -->
          <div class="applicant-detail__date-of-birth">
            DATE OF BIRTH : {{ applicant?.dateOfBirth | date: 'mediumDate' }}
          </div>
          <div class="applicant-detail__gender">GENDER : {{ applicant?.gender }}</div>
        </div>
      </div>
      <div class="applicant-detail__hired">
        <button (click)="hireApplicant()" class="th-btn th-btn--primary applicant-detail__hired-button">
          {{ hired ? 'Hired' : 'Hire' }}
        </button>
      </div>
    </div>

    <div class="applicant-detail__middle">
        <div class="applicant-detail__description">
          <div class="applicant-detail__description-header">Self Description</div>
          <p class="applicant-detail__description-content">
            {{ applicant.selfDescription }}
          </p>
        </div>
      </div>
    <div class="applicant-detail__bottom">
      <div class="applicant-detail__download">
        Download Applicant CV
        <a *ngIf="!applicant?.cv" (click)="generatePdf()" class="applicant-detail__download-cv"
          ><i class="fas fa-download"></i
        ></a>
        <a *ngIf="applicant?.cv" [href]='applicant.cv' target="_blank" class="applicant-detail__download-cv"
          ><i class="fas fa-download"></i
        ></a>
      </div>
    </div>
  </div>
  <app-shared-confirm-model [isModalOpen]="toggleConfirmModal" headerText="Payment Confirmations"
  bodyText="Are you sure you want to make this payment to download cv"
  (confirmed)="confirmAction()" (cancled)="cancelAction()"></app-shared-confirm-model> 
</div>
